/* main background colors */
$main-body-bg-color: #121212;
$main-orange-bg-color: #F47650;
// $main-dark-bg-color: #31313D;
$main-dark-bg-color: #24242c;

/* other background colors */
$white-bg: white;
$dark-blue-bg-color: #202224;
$light-orange-bg-color: rgb(249, 226, 226);
$dark-orange-bg-color: rgb(81, 42, 0);

/* borders */
$gray-border-color: rgb(87, 87, 87);


/* text colors */
$white-text: white;


/* header */
$header-footer-bg-color: green;
$header-height: 120px;


/* footer */


/* images */
$main-logo: url('../../assets/images/main-logo.svg');
$dog-paw: url('../../assets/images/dog-paw-transparent-bg.svg');

