@import '../../styles/variables.scss';

$border-radius: 8px;
$padding: 1rem;

div.basic {
  background-image: $gradient;
  border-radius: $border-radius;
  padding: 0.15rem;

  & > div {
    border-radius: inherit;
    background: $main-dark-bg-color;
    padding: $padding;
  }
}

div.transparent {
    border-radius: $border-radius;
    overflow: hidden;

  & > div {
    border: 5px solid;
    border-image: $gradient 1;
    padding: $padding;
  }
}

div.colored {
  background-image: $gradient;
  border-radius: $border-radius;
  padding: $padding;
}
