<div class="position-relative flex-center">
  <mat-icon [svgIcon]="product.metadataIconMap.get('price')?.iconName!"></mat-icon>
  <ng-container *ngIf="product.discount > 0">
    <ng-container *ngIf="product.discount < 100">
      <span class="product-old-price">{{ product.price | number : '1.2-2' }}</span>
      <span class="product-discounted-price">{{ utilService.getProductPrice(product) }}</span>
    </ng-container>
    <ng-container *ngIf="product.discount === 100">
      <span class="product-old-price">{{ product.price | number : '1.2-2' }}</span>
      <span class="product-discounted-price">Free</span>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="product.discount === 0">
    <span *ngIf="product.price !== 0">{{ product.price | number : '1.2-2' }}</span>
    <span *ngIf="product.price === 0">Free</span>
  </ng-container>
</div>

