@import '../../styles/variables';

// TODO: use for showcase and remove later??
// create common component if want to reuse
.top-section-wrapper-showcase {
  // TODO: choose one
  // background-color: $light-orange-bg-color;
  background-color: $main-dark-bg-color;
  // background-color: $main-orange-bg-color;
  padding: 2rem;

  width: 80%;
  margin: auto;

  .container-fluid {
    position: relative;
    height: auto;
    color: black;
    padding: 1rem 0;

    // TODO: remove later
    border: 0;

    .image-section {
      z-index: 1;
      img { max-height: 450px; }
    }

    .text-section {
      z-index: 2;
      padding: 1rem 2rem;
      color: white;
      position: relative;
      left: -15%;
    }

    .square {
      position: absolute;
      width: 76%;
      right: 0;
      z-index: 1;
      background-color: $main-dark-bg-color;
      border: 1px solid $main-orange-bg-color;
      height: 50%;
      // border-radius: 0px 8px 8px 0px;
    }
  }
}

.product-page-top-section-wrapper {
  width: 80%;
  // TODO: choose one
  border: 1px solid $gray-border-color;
  // border: 1px solid $main-orange-bg-color;
  // border: 1px solid white;

  background: $main-dark-bg-color;
  // background: $main-orange-bg-color;
  // background: white;

  .text-section { color: white;
  }
  .image-section {
    background-color: $main-orange-bg-color;
    img { max-height: 250px; }
  }
}

.product-buying-steps {
  height: 100px;
  color: $main-dark-bg-color;

  .mat-icon { color: $main-dark-bg-color; }
  .mat-icon:not(.next-step-icon) { transform: scale(2.5); }
  .mat-icon.next-step-icon { transform: scale(3, 3); }

  svg { vertical-align: baseline; }

  .buying-step {
    margin: 0 3rem;
    width: 150px;
  }

  span {
    position: relative;
    top: 13px;
  }
}

.product-list-wrapper {
  border: 1px solid white;
  // TODO: check
  padding: 80px 0 54px;

  .header {
    margin-bottom: 50px;

    h3 {
      font-size: 1rem;
      color: #fe302f;
      font-weight: 500;
    }

    h2 {
      font-size: 2.2rem;
      font-weight: 400;
      color: #444444; 
    }
  }

  .single-product {
    background-color: $main-orange-bg-color;
    // TODO: check 
    margin-bottom: 26px;

    .top-section {
      position: relative;
      height: 290px;
      max-height: 290px;
      overflow: hidden;

      ul {
        position: absolute;
        bottom: -40px;
        left: 16px;
        margin: 0;
        padding: 0;
        list-style: none;
        opacity: 0;
        transition: bottom 0.5s, opacity 0.5s;

        li {
          border: 1px solid $main-orange-bg-color;
          // TODO: check
          display: inline-block;
          margin-right: 4px;
          background-color: $main-dark-bg-color;

          a {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 50px;
            color: $main-orange-bg-color;
            text-align: center;
            box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
            transition: color 0.2s;
          }
          a:hover { color: #fe302f; }
        }
      }
    }
    &:hover {
      .top-section ul {
        bottom: 10px;
        opacity: 1;
      }
    }

    .bottom-section {
      margin-top: 4px;
      padding: 8px 16px;

      .product-title { font-size: 1rem; }
      h4 {
        display: inline-block;
        font-size: 1rem;
      }

      .product-old-price {
        position: relative;
        padding: 0 7px;
        margin-right: 2px;
        opacity: 0.6;

        &::after {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #444444;
          transform: translateY(-50%);
        }
      }
    }
  }
}

/* MEDIA QUERIES */
// bigger than 976px
@media only screen and (min-width: 976px) {
  // TODO: is this default? no need?
}
// smaller than 976px
@media only screen and (max-width: 976px) {
  .product-buying-steps .buying-step { margin: 0 2rem; }
}
// smaller than 576px
@media only screen and (max-width: 576px) {
  p { font-size: 16px !important; }
}