@import '../../styles/variables';

hr { width: 80%; margin: 1rem auto 0 auto; }

// TODO: use for showcase and remove later??
// create common component if want to reuse
.top-section-wrapper-showcase {
  // TODO: choose one
  // background-color: $light-orange-bg-color;
  background-color: $main-dark-bg-color;
  // background-color: $main-orange-bg-color;
  padding: 2rem;

  width: 80%;
  margin: auto;

  .container-fluid {
    position: relative;
    height: auto;
    color: black;
    padding: 1rem 0;

    // TODO: remove later
    border: 0;

    .image-section {
      z-index: 1;
      img { max-height: 450px; }
    }

    .text-section {
      z-index: 2;
      padding: 1rem 2rem;
      color: white;
      position: relative;
      left: -15%;
    }

    .square {
      position: absolute;
      width: 76%;
      right: 0;
      z-index: 1;
      background-color: $main-dark-bg-color;
      border: 1px solid $main-orange-bg-color;
      height: 50%;
      // border-radius: 0px 8px 8px 0px;
    }
  }
}

.product-page-top-section-wrapper {
  width: 80%;
  // TODO: choose one
  border: 1px solid $gray-border-color;
  // border: 1px solid $main-orange-bg-color;
  // border: 1px solid white;

  background: $main-dark-bg-color;
  // background: $main-orange-bg-color;
  // background: white;

  .text-section { color: white; }
  .image-section {
    background-color: $main-orange-bg-color;
    img { max-height: 250px; }
  }
}

.product-list-wrapper {
  width: 1000px;
  margin-top: 25px;

  & > .container { max-width: 1000px; }

  .inner-list-wrapper { 
    min-height: 880px;
    // only if it has direct child mat spinner  
    &:has(> mat-spinner) {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-150px);
    } 
  }

  .header {

    h3 {
      font-size: 1rem;
      color: $main-orange-bg-color;
      font-weight: 500;
    }

    h2 {
      font-size: 2.2rem;
      font-weight: 400;
      color: $gray-text;
    }
  }

  .single-product {
    max-width: 320px;
    min-width: 250px;

    .mat-icon svg { vertical-align: top; }

    .top-section {
      position: relative;
      cursor: pointer;
      max-height: 260px;

      img { 
        max-height: inherit; 
        border-start-end-radius: 8px;
        border-start-start-radius: 8px;
      }

      ul {
        position: absolute;
        bottom: -40px;
        left: 16px;
        margin: 0;
        padding: 0;
        list-style: none;
        opacity: 0;
        transition: bottom 0.5s, opacity 0.5s;

        li {
          border: 1px solid $main-orange-bg-color;
          // TODO: check
          display: inline-block;
          margin-right: 4px;
          background-color: $main-dark-bg-color;
          width: 40px;
          height: 40px;
          line-height: 50px;
          text-align: center;

          .mat-icon {
            position: relative;
            &[icon="cart"] {
              transform: scale(1.2);
              top: -2px;
            }
            &[icon="download"] {
              transform: scale(1.25);
              top: 1px;
            }
            &[icon="favorite"] {
              transform: scale(1.1);
            }
          }

          .mat-mdc-progress-spinner { display: inline-block; }
        }
      }
    }
    &:hover {
      .top-section ul {
        bottom: 10px;
        opacity: 1;
      }
    }

    .bottom-section {
      background-color: $main-orange-bg-color;
      border-end-end-radius: 8px;
      border-end-start-radius: 8px;
      padding: 0.5rem 0.5rem 0.75rem 0.5rem;
      color: $main-dark-bg-color;
      font-family: 'Cambria', 'Courier New', Courier, monospace;
      max-height: 130px;
      min-height: 130px;

      .product-title { 
        font-size: calc(1rem + 0.5vw);
        line-height: 24px; 
        min-height: 24px;
        text-align: center;
        a {
          text-decoration: none;
          color: black;
        }
      }

      .product-information {

        .product-information-item {
          // TODO: check responsive
          // border: 1px solid;
          position: relative;
          display: flex;
          padding: 0;
  
          &:has(.mat-icon[svgIcon="dollar"]) {
            svg path { 
              stroke: $main-dark-bg-color; 
              fill: none; 
              transform: scale(0.8);
            }
          }

          .mat-icon { 
            color: $main-dark-bg-color; 
            svg path { fill: $main-dark-bg-color; }

            &[icon="download"] { transform: scale(1.3); }
          }

          &.difficulty.length-1 { left: 21px; }
          &.difficulty.length-2 { left: 17px; }
          &.difficulty.length-3 { left: 14px; }
          &.difficulty.length-4 { left: 11px; }

          .product-old-price {
            position: absolute;
            top: -8px;
            left: 24px;
            opacity: 0.6;
    
            &::after {
              position: absolute;
              content: "";
              top: 50%;
              left: 0;
              width: 100%;
              height: 2px;
              // TODO: choose color
              background-color: #444444;
              background-color: red;
              transform: translateY(-50%);
            }
          }

          .product-discounted-price {
            position: relative;
            top: 6px;
          }

        }
      }
    }

    .if-in-cart-icon {
      position: absolute;
      left: 12px;
      top: 12px;
      z-index: 2;
      transform: scale(1.25);
    }

    .discount-ribbon-inside {
      width: 160px;
      padding: 15px 0;
      overflow: hidden;
      position: absolute;
      top: 8px;
      background: red;
      right: -45px;
      transform: rotate(45deg);
      text-align: center;
      letter-spacing: 2px;
      z-index: 1;
      font: 700 18px/1 sans-serif;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
    }

    .discount-ribbon-inside::before,
    .discount-ribbon-inside::after {
      position: absolute;
      z-index: -1;
      content: '';
      display: block;
    }

    .discount-ribbon-inside::before,
    .discount-ribbon-inside::after {
      border-top-color: $main-orange-bg-color;
      border-bottom-color: $main-orange-bg-color;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .discount-ribbon-outside {
      width: 120px;
      height: 120px;
      overflow: hidden;
      position: absolute;
      top: -9.5px;
      right: -10px;
      z-index: 1;
      cursor: pointer;
    }
    .discount-ribbon-outside::before,
    .discount-ribbon-outside::after {
      position: absolute;
      z-index: -1;
      content: '';
      display: block;
      border: 5px solid rgb(218, 3, 3);
    }
    .discount-ribbon-outside::before {
      top: 0;
      left: 0;
    }
    .discount-ribbon-outside::after {
      bottom: 0;
      right: 0;
    }
    .discount-ribbon-outside span {
      position: absolute;
      display: block;
      width: 225px;
      padding: 15px 26px 15px 0;
      background-color: red;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      font: 700 18px/1 sans-serif;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      text-align: center;
      left: -25px;
      top: 30px;
      transform: rotate(45deg);
    }

    @-webkit-keyframes flow {
      0%  { left: -20px; opacity: 0;   }
      7%  { left: 80px;  opacity: 0.5; }
      15% { left: 170px; opacity: 0;   }
      100%{ left: 100px; opacity: 0;   }
    }
    @keyframes flow {
      0%  { left: -20px; opacity: 0;   }
      7%  { left: 80px;  opacity: 0.5; }
      15% { left: 170px; opacity: 0;   }
      100%{ left: 100px; opacity: 0;   }
    } 
    
    .glow { 
      background: rgb(255,255,255); 
      width: 40px; 
      height: 100%; 
      z-index: 2; 
      position: absolute;
      top: 0;
      -webkit-animation: flow 10s linear infinite;
      -moz-animation: flow 10s linear infinite;
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -o-transform: skew(20deg);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(248, 243, 147, 0.8)), color-stop(1%,rgba(248, 243, 147, 0.8)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
      background: -moz-linear-gradient(left, rgba(248, 243, 147, 0.8) 100%,rgb(255, 255, 255) 100%,rgb(255, 255, 255) 100%); /* FF3.6+ */
      background: -webkit-linear-gradient(left, rgba(248, 243, 147, 0.8) 100%,rgb(255, 255, 255) 100%,rgb(255, 255, 255) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(248, 243, 147, 0.8) 100%,rgb(255, 255, 255) 100%,rgb(255, 255, 255) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(248, 243, 147, 0.8) 100%,rgb(255, 255, 255) 100%,rgb(255, 255, 255) 100%); /* IE10+ */
      background: linear-gradient(to right, rgba(248, 243, 147, 0.8) 100%,rgb(255, 255, 255) 100%,rgb(255, 255, 255) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ border-left:1px solid #fff;
    }
  }

  // TODO: choose pagination
  // classic
  .mat-mdc-paginator {
    background-color: $main-dark-bg-color;

    .mat-mdc-paginator-page-size { display: none; }

    .mat-mdc-paginator-range-actions {
      .mat-mdc-paginator-range-label { 
        color: $main-orange-bg-color;
        font-size: 0.875rem;
        margin: 0 0.5rem;
      }
      button { 
        background-color: $main-orange-bg-color; 
        margin-left: 0.5rem;
      }
    }
  }

  //TODO: cleanup
  // pagination center
  // .mat-mdc-paginator {
  //   background-color: $main-dark-bg-color;

  //   .mat-mdc-paginator-page-size { display: none; }
    
  //   .mat-mdc-paginator-range-actions {
  //     .mat-mdc-paginator-range-label { 
  //       color: $main-orange-bg-color;
  //       font-size: 0.875rem;
  //       margin: 0 0.5rem;
  //     }
  //     button { 
  //       background-color: $main-orange-bg-color; 
  //       margin-left: 0.5rem;
  //     }
  //   }
  
  //   .mat-mdc-paginator-range-actions {
  //     // border: 1px solid white;
  //     margin: auto;
  //     display: block;
  //     .mat-mdc-paginator-range-label { 
  //       color: $main-orange-bg-color;
  //       font-size: 0.875rem;
  //       margin: 0 auto 0.5rem auto;
  //       width: fit-content;
  //     }
  //     button { 
  //       background-color: $main-orange-bg-color; 
  //       margin-left: 1rem;
  //       &:nth-child(2) { margin-left: 0; }
  //     }
  //   }
  // }

  // traka centar
  // .mat-mdc-paginator {
  //   width: 40%;
  //   margin: auto;

  //   .mat-mdc-paginator-page-size { display: none; }

  //   .mat-mdc-paginator-range-actions {
  //     width: 100%;
  //     display: flex;
  //     justify-content: center;
  //     .mat-mdc-paginator-range-label { 
  //       color: $main-dark-bg-color;
  //       font-size: 0.875rem;
  //       margin: 0 0.5rem;
  //     }
  //     button { 
  //       background-color: $main-orange-bg-color; 
  //       margin-left: 0.5rem;
  //     }
  //   }
  // }
}

/* MEDIA QUERIES */
// bigger than 1200px
@media only screen and (max-width: 1200px) {
  hr { width: 90%; }
}
// smaller than 992px
@media only screen and (max-width: 992px) {
  .product-list-wrapper { 
    .single-product {
      max-width: 300px;
      margin: auto;
      min-width: unset;
      .product-information { 
        padding: 0; 
        .difficulty.length-1 { left: 23px !important; }
        .difficulty.length-2 { left: 19px !important; }
        .difficulty.length-3 { left: 11px !important; }
        .difficulty.length-4 { left: 8px !important; }
      }
    }
  }
}
// smaller than 976px
@media only screen and (max-width: 976px) {
  .product-list-wrapper {
    .single-product {
      .bottom-section { min-height: unset; max-height: unset; }
    }
  }
}
// smaller than 576px
@media only screen and (max-width: 576px) {
  p { font-size: 16px !important; }
  .product-list-wrapper {
    .inner-list-wrapper {
      &:has(> mat-spinner) .mat-mdc-progress-spinner {
        width: 150px !important;
        height: 150px !important;
      } 
    }
  }
}



