@import '../../styles/variables';

.product-page-wrapper {

  h1 {
    text-align: center;
    font-size: 2.2rem;
    color: $main-orange-bg-color;
    font-weight: 500;
    margin: 1rem 0 2rem 0;
  }

}
