@import '../../styles/variables.scss';

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 1.5rem 0 2rem 0;
}

.table-wrapper {
  overflow-x: auto;
  position: relative;
  margin: 0 6rem;
  min-height: 300px;

  mat-spinner {
    position: relative;
    top: 100px;
  }

  table {
    min-width: 500px;
    margin: auto;

    td {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;

      div {
        display: flex;
        align-items: center;
        gap: 2px;
      }
    }

    .product-img {
      width: 75px;
      height: 75px;
    }

    .mat-column-title {
      width: 20%;
    }
    .mat-column-image {
      width: 8%;
    }
    .mat-column-price {
      width: 10%;
      min-width: 100px;

      div {
        flex-direction: column;
        align-items: flex-start;
      }

      .product-old-price {
        position: relative;
        top: 3px;
      }
    }
    .mat-column-discount {
      width: 10%;
    }
    .mat-column-likes {
      width: 7%;
    }
    .mat-column-soldTimes {
      width: 10%;
    }
    .mat-column-metadata {
      width: 10%;
      .mat-icon {
        height: 26px;
        transform: scale(0.8);
      }
      .product-metadata-item[item="fileSizeInMb"] .mat-icon { transform:scale(1); }
    }
    .mat-column-active {
      .mat-icon {
        -webkit-text-fill-color: unset;
        &.active { color: $toast-green-bg-color; }
        &.inactive { color: $toast-red-bg-color; }
      }
    }
    .mat-column-actions {
      text-align: right;

      div { justify-content: flex-end; }

      .mat-icon { cursor: pointer; }
    }

  }

  .table-controls {
    width: 300px;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 4px;
    border: 2px solid white;
    border-bottom: 0;

    .plus {
      $thickness: 4px;
      width: 32px;
      transform: scale(0.8);
      aspect-ratio: 1;
      // border: 10px solid white; /* the outer space */
      background:
        conic-gradient(from 90deg at $thickness $thickness, transparent 90deg,#fff 0)
        calc(100% + $thickness / 2) calc(100% + $thickness / 2)/
        calc(50%  + $thickness)   calc(50%  + $thickness);
      display: inline-block;
      cursor: pointer;
    }

    input { padding: 2px 8px; }
    input:focus { outline: none; }
  }
}

.form-group input[type="checkbox"] {
  display: block;
  width: 20px;
  height: 20px;
}

.dropdown-caret {
  position: absolute !important;
  left: 90% !important;
  top: 20px !important;
  color: black !important;
  z-index: 1;
}

// not working but may be on good track
.color-selector:before {
  content: '';
  background-color: var(--bg-c);
  padding: 30px;
  display: block;
  width: 15px;
  height: 15px;
}

/* MEDIA QUERIES */
// smaller than 1200px
@media only screen and (max-width: 1200px) {
  .table-wrapper { margin: 0 2rem; }
}
// smaller than 768px
@media only screen and (max-width: 768px) {
  // make elements follow vertical table scroll
  .table-wrapper {
    .table-controls {
      position: sticky;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
    }
    mat-paginator {
      position: sticky;
      left: 0;
    }
  }
}
// smaller than 576px
@media only screen and (max-width: 576px) {
  h1 { font-size: 32px; }
}
