@import '../../styles/variables.scss';

h1 {
  font-size: 2.5rem;
  color: $orange-text;
  text-align: center;
  margin: 1.5rem 0 2rem 0;
}

.table-controls {
  width: 300px;
  background-color: $main-orange-bg-color;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 4px;

  .plus {
    $thickness: 4px;
    width: 32px;
    transform: scale(0.8);
    aspect-ratio: 1;
    // border: 10px solid $main-orange-bg-color; /* the outer space */
    background:
      conic-gradient(from 90deg at $thickness $thickness, transparent 90deg,#fff 0)
      calc(100% + $thickness / 2) calc(100% + $thickness / 2)/
      calc(50%  + $thickness)   calc(50%  + $thickness);
    display: inline-block;
    cursor: pointer;
  }

  input { padding: 2px 8px; }
  input:focus { outline: none; }
}

.table-wrapper {
  overflow-x: auto;
  position: relative;
  width: 80%;
  margin: auto;
  min-height: 300px;

  mat-spinner {
    position: relative;
    top: 100px;
  }

  table {
    min-width: 500px;
    margin: auto;
    background-color: $main-orange-bg-color;

    td {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;

      div {
        display: flex;
        align-items: center;
        gap: 2px;
      }
    }

    .mat-icon { color: $main-dark-bg-color; }

    .product-img {
      width: 75px;
      height: 75px;
    }

    .mat-column-title {
      width: 20%;
    }
    .mat-column-image {
      width: 8%;
    }
    .mat-column-price {
      width: 10%;
      min-width: 100px;

      div {
        flex-direction: column;
        align-items: flex-start;
      }

      .product-old-price {
        position: relative;
        top: 3px;
      }
    }
    .mat-column-discount {
      width: 10%;
    }
    .mat-column-likes {
      width: 7%;
    }
    .mat-column-metadata {
      width: 10%;
      .mat-icon {
        height: 26px;
        transform: scale(0.8);
      }
      .product-metadata-item[item="fileSizeInMb"] .mat-icon { transform:scale(1); }
    }
    .mat-column-active {
      .mat-icon.active { color: $toast-green-bg-color; }
    }
    .mat-column-actions {
      text-align: right;

      div { justify-content: flex-end; }

      .mat-icon { cursor: pointer; }
    }

  }
}

.form-group input[type="checkbox"] {
  display: block;
  width: 20px;
  height: 20px;
}

.dropdown-caret {
  position: absolute !important;
  left: 90% !important;
  top: 20px !important;
  color: black !important;
  z-index: 1;
}

.mat-mdc-paginator {
  background-color: $main-dark-bg-color;
}

/* MEDIA QUERIES */
// smaller than 850px when horizontal scrollbar appears on table
@media only screen and (max-width: 850px) {
  // make elements follow vertical table scroll
  .table-controls {
    position: fixed;
    top: 116px;
    // same as table
    width: 80%;
  }
  .table-wrapper .mat-mdc-paginator::ng-deep .mat-mdc-paginator-range-actions {
    position: fixed;
  }

  // adjust because of fixed
  h1 { margin-bottom: 60px; }
  mat-paginator { margin-top: 0.25rem !important; }
}

// smaller than 576px
@media only screen and (max-width: 576px) {
  // .table-controls { width: unset; gap: 12px; }
}
