<h1>Control panel</h1>

<div class="table-wrapper">

  <div class="table-controls" [ngStyle]="{ 'display': paginatedList ? 'flex' : 'none' }">
    <div class="plus" (click)="openModal('0')"></div>
    <input #searchInput type="text" placeholder="Search">
  </div>

  <mat-spinner *ngIf="showSpinner; else noSpinner" diameter="50" strokeWidth="5" class="absolute-center"></mat-spinner>

  <ng-template #noSpinner>
    <table mat-table [dataSource]="paginatedList" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let product">{{ product.title }}</td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let product">
          <img src="{{ product.imgPath }}" class="product-img" (error)="handleProductImgLoadError($event)">
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let product">
          <div *ngIf="product.discount > 0">
            <div *ngIf="product.discount < 100">
              <!-- // TODO: for this implement pipe -->
              <span class="product-old-price">{{ product.price }} $</span>
              <span class="product-discounted-price">{{ utilService.getProductPrice(product) }} $</span>
            </div>
            <div *ngIf="product.discount === 100">
              <span class="product-old-price">{{ product.price }} $</span>
              <span class="lh-1 mt-2">Free on discount</span>
            </div>
          </div>
          <div *ngIf="product.discount === 0">
            <span *ngIf="product.price !== 0">{{ product.price }} $</span>
            <span *ngIf="product.price === 0">Free</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef>Discount</th>
        <td mat-cell *matCellDef="let product">{{ product.discount }} %</td>
      </ng-container>

      <ng-container matColumnDef="likes">
        <th mat-header-cell *matHeaderCellDef>Likes</th>
        <td mat-cell *matCellDef="let product">{{ product.likes | number: '0.0' }}</td>
      </ng-container>

      <ng-container matColumnDef="metadata">
        <th mat-header-cell *matHeaderCellDef>Metadata</th>
        <td mat-cell *matCellDef="let product" class="product-metadata">
          <div
            *ngFor="let metadataIcon of metadataIconMap | keyvalue: keepOrder"
            [attr.item]="metadataIcon.key"
            class="product-metadata-item"
          >
            <!-- NOTE: quick fix for classic icon displayed as premium, can be fixed better in ts -->
            <mat-icon *ngIf="product.metadata[metadataIcon.key] === 'premium'" [svgIcon]="'tier-premium'"></mat-icon>
            <mat-icon
              *ngIf="product.metadata[metadataIcon.key] !== 'premium'"
              [svgIcon]="metadataIcon.value.type === 'custom' ? metadataIcon.value.iconName : ''"
            >
              {{ metadataIcon.value.type === 'custom' ? '' : metadataIcon.value.iconName  }}
            </mat-icon>
            {{ product.metadata[metadataIcon.key] }}
          </div>
          <div class="product-metadata-item">
            <div class="rounded" [ngStyle]="{'background-color': product.metadata.color, 'width': '24px', 'height': '24px'}"></div>
            <span>{{ product.metadata.color | titlecase }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef>Active</th>
        <td mat-cell *matCellDef="let product">
          <mat-icon *ngIf="product.isActive" class="active">check</mat-icon>
          <mat-icon *ngIf="!product.isActive" class="inactive">close</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let product">
          <div>
            <mat-icon (click)="openModal('1'); populateEditForm(product)">edit</mat-icon>
            <!-- <mat-icon class="ms-3" (click)="openModal('2'); productId = product.id">delete_forever</mat-icon> -->
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </ng-template>

  <!-- viewChild not catching because of spinner, move out and hide until load -->
  <mat-paginator
    class="mt-3"
    #paginator
    pageSize="{{ pageSize }}"
    showFirstLastButtons="false"
    (page)="updatePaginatedList()"
    [ngStyle]="{ 'display': paginatedList ? 'block' : 'none' }"
  ></mat-paginator>

</div>

<app-modal id="0" (confirm)="handleAddProduct()" title="Add product" actionButtonText="Add">
  <form [formGroup]="formAddProduct" enctype="multipart/form-data">
    <div class="center-wrap">
      <div class="section text-center">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-style"
            id="title"
            name="title"
            formControlName="title"
            placeholder="Title"
          >
          <span
            *ngIf="formAddProduct.get('title')?.hasError('required') && formAddProduct.get('title')?.touched"
            class="form-text ms-1 dark-text fw-bold d-block">Title can not be empty
          </span>
          <span
            *ngIf="formAddProduct.get('title')?.hasError('minlength')"
            class="form-text ms-1 dark-text fw-bold d-block">Title must have at least 6 characters
          </span>
          <span
            *ngIf="formAddProduct.get('title')?.hasError('maxlength')"
            class="form-text ms-1 dark-text fw-bold d-block">Title can't be longer than 20 characters
          </span>
          <span
            *ngIf="formAddProduct.get('title')?.hasError('pattern')"
            class="form-text ms-1 dark-text fw-bold d-block">Only characters allowed
          </span>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input
            type="file"
            class="form-control"
            name="image"
            id="image"
            formControlName="image"
            (change)="onFileChange($event)"
          >
            <span
              *ngIf="formAddProduct.get('image')?.hasError('required') && formAddProduct.get('image')?.touched"
              class="form-text ms-1 dark-text fw-bold d-block">Product image required
            </span>
        </div>
        <div class="form-group">
          <label for="tier">Tier</label>
          <mat-icon class="dropdown-caret">expand_more</mat-icon>
          <select
            class="form-control position-relative"
            name="tier"
            id="tier"
            formControlName="tier"
          >
            <option *ngFor="let tier of ['classic', 'premium']" [value]="tier">{{ tier }}</option>
          </select>
            <span
              *ngIf="formAddProduct.get('tier')?.hasError('required') && formAddProduct.get('tier')?.touched"
              class="form-text ms-1 dark-text fw-bold d-block">Tier is required
            </span>
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <mat-icon class="dropdown-caret">expand_more</mat-icon>
          <select
            class="form-control position-relative"
            name="color"
            id="color"
            formControlName="color"
          >
            <option *ngFor="let color of filterColorMap | keyvalue: keepOrder" [value]="color.key" [ngStyle]="{'--bg-c' : color.value}">
              <span class="color-selector">{{ color.key }}</span>
            </option>
          </select>
          <span
            *ngIf="formAddProduct.get('color')?.hasError('required') && formAddProduct.get('color')?.touched"
            class="form-text ms-1 dark-text fw-bold d-block">Color is required
          </span>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-style"
            id="price"
            name="price"
            formControlName="price"
            placeholder="Price"
            (input)="removeDiscountValidationErrors(formAddProduct)"
          >
          <span
            *ngIf="formAddProduct.get('price')?.hasError('required') && formAddProduct.get('price')?.touched"
            class="form-text ms-1 dark-text fw-bold d-block">Price can not be empty
          </span>
          <span
            *ngIf="formAddProduct.get('price')?.hasError('pattern')"
            class="form-text ms-1 dark-text fw-bold d-block">Must be valid number
          </span>
        </div>
        <div class="form-group">
          <label for="discount">Discount</label>
          <input
            type="text"
            class="form-style"
            id="discount"
            name="discount"
            formControlName="discount"
            placeholder="Discount"
          >
          <span
            *ngIf="formAddProduct.get('discount')?.hasError('required') && formAddProduct.get('discount')?.touched"
            class="form-text ms-1 dark-text fw-bold d-block">Discount can not be empty
          </span>
          <span
            *ngIf="formAddProduct.get('discount')?.hasError('min')"
            class="form-text ms-1 dark-text fw-bold d-block">Discount can't be below 0%
          </span>
          <span
            *ngIf="formAddProduct.get('discount')?.hasError('max')"
            class="form-text ms-1 dark-text fw-bold d-block">Discount can't be above 100%
          </span>
          <span
            *ngIf="formAddProduct.get('discount')?.hasError('pattern')"
            class="form-text ms-1 dark-text fw-bold d-block">Only number allowed
          </span>
          <span
            *ngIf="formAddProduct.get('discount')?.hasError('priceNull')"
            class="form-text ms-1 dark-text fw-bold d-block">Price not set
          </span>
          <span
            *ngIf="formAddProduct.get('discount')?.hasError('freeItemDiscounted')"
            class="form-text ms-1 dark-text fw-bold d-block">Can't discount free item
          </span>
        </div>
        <div class="form-group">
          <label for="likes">Likes</label>
          <input
            type="text"
            class="form-style"
            id="likes"
            name="likes"
            formControlName="likes"
            placeholder="Likes"
          >
          <span
            *ngIf="formAddProduct.get('likes')?.hasError('required') && formAddProduct.get('likes')?.touched"
            class="form-text ms-1 dark-text fw-bold d-block">Number of likes required
          </span>
          <span
            *ngIf="formAddProduct.get('likes')?.hasError('pattern')"
            class="form-text ms-1 dark-text fw-bold d-block">Only number allowed
          </span>
        </div>
      </div>
    </div>
  </form>
</app-modal>


<app-modal id="1" (confirm)="handleUpdateProduct()" title="Edit product" actionButtonText="Update">
  <form [formGroup]="formEditProduct">
    <div class="center-wrap">
      <div class="section text-center">
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-style"
            id="price"
            name="price"
            formControlName="price"
            placeholder="Price"
            (input)="removeDiscountValidationErrors(formEditProduct)"
          >
          <span
            *ngIf="formEditProduct.get('price')?.hasError('required') && formEditProduct.get('price')?.touched"
            class="form-text ms-1 dark-text fw-bold d-block">Price can not be empty
          </span>
          <span
            *ngIf="formEditProduct.get('price')?.hasError('pattern')"
            class="form-text ms-1 dark-text fw-bold d-block">Must be valid number
          </span>
        </div>
        <div class="form-group">
          <label for="discount">Discount</label>
          <input
            type="text"
            class="form-style"
            id="discount"
            name="discount"
            formControlName="discount"
            placeholder="Discount"
          >
          <span
            *ngIf="formEditProduct.get('discount')?.hasError('required') && formEditProduct.get('discount')?.touched"
            class="form-text ms-1 dark-text fw-bold d-block">Discount can not be empty
          </span>
          <span
            *ngIf="formEditProduct.get('discount')?.hasError('min')"
            class="form-text ms-1 dark-text fw-bold d-block">Discount can't be below 0%
          </span>
          <span
            *ngIf="formEditProduct.get('discount')?.hasError('max')"
            class="form-text ms-1 dark-text fw-bold d-block">Discount can't be above 100%
          </span>
          <span
            *ngIf="formEditProduct.get('discount')?.hasError('pattern')"
            class="form-text ms-1 dark-text fw-bold d-block">Only number allowed
          </span>
          <span
            *ngIf="formEditProduct.get('discount')?.hasError('priceNull')"
            class="form-text ms-1 dark-text fw-bold d-block">Price not set
          </span>
          <span
            *ngIf="formEditProduct.get('discount')?.hasError('freeItemDiscounted')"
            class="form-text ms-1 dark-text fw-bold d-block">Can't discount free item
          </span>
        </div>
        <div class="form-group">
          <label for="tier">Tier</label>
          <mat-icon class="dropdown-caret">expand_more</mat-icon>
          <select
            class="form-control position-relative"
            name="tier"
            id="tier"
            formControlName="tier"
          >
            <option *ngFor="let tier of ['classic', 'premium']" [value]="tier">{{ tier }}</option>
          </select>
            <span
              *ngIf="formEditProduct.get('tier')?.hasError('required') && formEditProduct.get('tier')?.touched"
              class="form-text ms-1 dark-text fw-bold d-block">Tier is required
            </span>
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <mat-icon class="dropdown-caret">expand_more</mat-icon>
          <select
            class="form-control position-relative"
            name="color"
            id="color"
            formControlName="color"
          >
            <option *ngFor="let color of filterColorMap | keyvalue: keepOrder" [value]="color.key" [ngStyle]="{'--bg-c' : color.value}">
              <span class="color-selector">{{ color.key }}</span>
            </option>
          </select>
          <span
            *ngIf="formAddProduct.get('color')?.hasError('required') && formAddProduct.get('color')?.touched"
            class="form-text ms-1 dark-text fw-bold d-block">Color is required
          </span>
        </div>
        <div class="form-group">
          <label for="likes">Likes</label>
          <input
            type="text"
            class="form-style"
            id="likes"
            name="likes"
            formControlName="likes"
            placeholder="Likes"
          >
          <span
            *ngIf="formEditProduct.get('likes')?.hasError('required') && formEditProduct.get('likes')?.touched"
            class="form-text ms-1 dark-text fw-bold d-block">Number of likes required
          </span>
          <span
            *ngIf="formEditProduct.get('likes')?.hasError('pattern')"
            class="form-text ms-1 dark-text fw-bold d-block">Only number allowed
          </span>
        </div>
        <div class="form-group">
          <label for="isActive">Active</label>
          <input
            type="checkbox"
            class="form-style"
            id="isActive"
            name="isActive"
            formControlName="isActive"
          >
        </div>
      </div>
    </div>
  </form>
</app-modal>

<!-- <app-modal id="2" (confirm)="handleDeleteProduct()" title="Delete product" actionButtonText="Delete">
  <span>Are you sure?</span>
</app-modal> -->

