<div class="card-3d-wrap mx-auto auth-form-page">
  <div class="card-3d-wrapper">
    <form class="card-front" [formGroup]="form" (ngSubmit)="validateForm()">
      <div class="center-wrap">
        <div class="section text-center">
          <h4 class="mb-4 pb-3 dark-text">Reset password</h4>
          <!-- ************ phase 1 *********** -->
          <div class="form-group" *ngIf="!phase">
            <input
              type="text"
              class="form-style"
              id="mail"
              name="mail"
              formControlName="email"
              placeholder="Your Email"
              autocomplete="off"
            >
            <mat-icon>alternate_email</mat-icon>
            <span
              *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched"
              class="form-text ms-1 dark-text fw-bold d-block">Email can not be empty
            </span>
            <span
              *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched"
              class="form-text ms-1 dark-text fw-bold d-block">Please enter valid email address
            </span>
            <span
              *ngIf="form.get('email')?.hasError('auth/user-not-found')"
              class="form-text ms-1 dark-text fw-bold d-block">{{ form.get('email')?.getError('auth/user-not-found') }}
            </span>
          </div>
          <!-- ******************************** -->
          <!-- ************ phase 2 *********** -->
          <div class="form-group" *ngIf="phase == 2">
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              class="form-style"
              id="regpassword"
              name="regpassword"
              formControlName="password"
              placeholder="Your Password"
              autocomplete="off"
            >
            <mat-icon>lock</mat-icon>
            <mat-icon class="show-password-toggle" (click)="showHidePassword()">
              {{ showPassword ? 'visibility' : 'visibility_off' }}
            </mat-icon>
            <span
              *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched"
              class="form-text ms-1 dark-text fw-bold d-block">Password is required
            </span>
            <span
              *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched"
              class="form-text ms-1 dark-text fw-bold d-block">Password must have at least 6 characters
            </span>
            <span
              *ngIf="form.get('password')?.hasError('maxlength') && form.get('password')?.touched"
              class="form-text ms-1 dark-text fw-bold d-block">Password can have up to 16 characters
            </span>
            <span
              *ngIf="form.get('password')?.hasError('pattern') && form.get('password')?.touched"
              class="form-text ms-1 dark-text fw-bold d-block">Special characters not allowed
            </span>
          </div>
          <!-- ******************** -->
          <button type="submit" class="btn-reverse mt-4">
            <mat-spinner
              *ngIf="showSpinner; else noSpinner"
              diameter="25"
              strokeWidth="4"
            ></mat-spinner>
            <ng-template #noSpinner>Submit</ng-template>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>