@import '../../../styles/variables.scss';

h4 { font-weight: 600; }

button[type="submit"] {
  width: 110px;
  height: 44px;
  margin: auto;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -40px;

  form { width: 440px; }
}

.card-front {
  width: 100%;
  height: auto;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.center-wrap {
  position: relative;
  width: 100%;
  padding: 2rem 3rem;
  left: 0;
  z-index: 20;
}

.form-group {
  .form-style {
    padding: 13px 20px 13px 55px;
    height: 48px;
    input[type="password"] { padding-right: 55px; }
  }
}

// smaller than 576px
@media only screen and (max-width: 576px) {
  .card-3d-wrapper {
    width: 80%;
    margin: auto;
    .center-wrap { padding: 2rem; }
  }
}

