@import '../../styles/variables';

.header-wrapper {
  height: 120px;
  position: fixed;
  top: 0;
  color: white;
  justify-content: space-between;
  width: fit-content;

  .header-item {
    // border: 1px solid white;
    // TODO: double check and remove
    // width: 100%;
    // flex-basis: 35%;
  }

  .header-item.navigation-wrapper {
    order: 1;
    align-self: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .header-item.logo-wrapper {
    order: 0;
    cursor: pointer;

    img {
      content: $main-logo;
      max-height: 100%;
    }
  }

  .header-item.profile {
    order: 2;
    align-self: center;
    margin-right: 0.66rem;

    .btn {
      padding: 0.25rem;
      margin: 0.25rem;
      width: auto;
      min-width: 100px;
    }
    .btn:hover { border: 1px solid rgb(87,87,87); }
    // TODO: double check and remove
    // .btn:hover { border: 1px solid white; }
  }

}
