<header class="header-wrapper d-flex w-100 px-4" role="heading">
  <div class="header-item navigation-wrapper">
    <a
      routerLink="/"
      routerLinkActive="nav-active"
      [routerLinkActiveOptions]="{exact: true}"
    >{{ 'Home' | uppercase }}</a> |
    <a routerLink="/products" routerLinkActive="nav-active">{{ 'Products' | uppercase }}</a> |
    <a routerLink="/about" routerLinkActive="nav-active">{{ 'About' | uppercase }}</a> |
    <a routerLink="/contact-us" routerLinkActive="nav-active">{{ 'Contact' | uppercase }}</a>
  </div>
  <div class="header-item logo-wrapper">
    <a routerLink="/">
      <img alt="house of dogs logo" role="img">
    </a>
  </div>
  <div class="header-item profile" *ngIf="isLogged">ACCOUNT</div>
  <div class="header-item profile" *ngIf="!isLogged">
    <button type="button" class="btn">
      <span>Login</span>
    </button>
    <button type="button" class="btn me-2">
      <span>Register</span>
    </button>
  </div>
</header>
