<header class="header-wrapper d-flex w-100 px-4" role="heading">
  <div class="header-item navigation-wrapper">
    <a routerLink="/" class="btn-reverse">{{ 'Home' | uppercase }}</a> |
    <a routerLink="/products" class="btn-reverse">{{ 'Products' | uppercase }}</a> |
    <a routerLink="/about" class="btn-reverse">{{ 'About' | uppercase }}</a> |
    <a routerLink="/contact-us" class="btn-reverse">{{ 'Contact' | uppercase }}</a>
  </div>
  <div class="header-item logo-wrapper">
    <a routerLink="/">
      <img alt="house of dogs logo" role="img">
    </a>
  </div>
  <div class="header-item profile" *ngIf="isLogged">ACCOUNT</div>
  <div class="header-item profile" *ngIf="!isLogged">
    <button type="button" class="btn">
      <span>Login</span>
    </button>
    <button type="button" class="btn me-2">
      <span>Register</span>
    </button>
  </div>
</header>
