<div class="preloader large-screen" *ngIf="showLargeLoader && !preloaderAnimationDone" [style]="{'--preloader-duration': preloaderDuration}">
  <app-star-background></app-star-background>
  <div class="preloader-center">
    <div class="preloader-center-absolute">
      <img class="logo">
      <div class="object big"></div>
      <div class="object one"></div>
      <div class="object two"></div>
      <div class="object three"></div>
      <div class="object four"></div>
      <div class="object five"></div>
      <div class="object six"></div>
      <div class="object seven"></div>
      <div class="object eight"></div>
      <p>Coming soon</p>
    </div>
  </div>
</div>

<div class="preloader small-screen" *ngIf="!showLargeLoader && !preloaderAnimationDone" [style]="{'--preloader-duration': preloaderDuration}">
  <app-star-background></app-star-background>
  <div class="flex-center h-100">
    <img class="logo">
    <p>Coming soon</p>
  </div>
</div>

<div>
  <app-star-background></app-star-background>

  <app-header></app-header>

  <main class="page-wrapper">
    <router-outlet
      (activate)="window.scrollTo(0, 0)"
      (attach)="onAttach($event); window.scrollTo(0, 0)"
      (detach)="onDetach($event)"
    ></router-outlet>
  </main>

  <!-- <app-footer></app-footer> -->
</div>
