@import '../../styles/variables';

.top-section-wrapper {
  // TODO: choose one
  background-color: $light-orange-bg-color;
  background-color: $main-dark-bg-color;
  // background-color: $main-orange-bg-color;
  padding: 2rem;

  .container-fluid {
    position: relative;
    height: auto;
    color: black;
    padding: 1rem 0;

    // TODO: remove later
    border: 0;

    .image-section {
      z-index: 3;
      img { max-height: 450px; }
    }

    .text-section {
      z-index: 2;
      padding: 1rem 1rem 0 2rem;

      .btn-reverse {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 16px;
      }
      .btn-reverse > .mat-icon {
          width: 9px;
          height: 9px;
          border-right: 2px solid white;
          border-bottom: 2px solid white;
          transform: rotate(-45deg);
          margin: 0 0.5rem;
          transition: all .3s ease;
      }
      .btn-reverse > .mat-icon::before {
          display: block;
          background-color: white;
          width: 10px;
          transform-origin: bottom right;
          height: 2px;
          position: absolute;
          opacity: 0;
          bottom: -1px;
          transform: rotate(45deg);
          transition: all .3s ease;
          content: "";
          right: 0;
      }
      .btn-reverse:hover {
        background-color: $main-dark-bg-color;
        color: white;
      }
      .btn-reverse:hover > .mat-icon {
          transform: rotate(-45deg) translate(4px, 4px);
          // TODO: remove later
          // border-color: black;
      }
      .btn-reverse:hover > .mat-icon::before {
          opacity: 1;
          width: 20px;
      }
    }

    .square {
      position: absolute;
      width: 80%;
      right: 0;
      z-index: 1;
    }
  }
}

.categories-section-wrapper {
  position: relative;

  .categories-heading-wrapper {
    color: black;
    width: 250px;
    text-align: center;
    height: 40px;
    top: -20px;
  }

  .categories-content {
    width: 80%;
    justify-content: space-between;
  }
}

.about-us-section-wrapper {
  color: white;

  hr { width: 300px; }

  .about-us-top-section {
    padding: 1.125rem 6rem;

    .about-us-section-header {
      font-size: 45px;
      font-weight: 600;
      line-height: 1.5em;
    }

    .about-us-mission {
      span { display: block; }
      .mat-icon {
        width: 24px;
        height: 26px;
        position: relative;
        right: 2px;
        & ~ .fw-bold { margin-top: -0.2rem; }
      }
    }
  }

  .about-us-qoute-section {
    padding: 3rem 2rem 3rem 2rem;
    border: 1px solid $main-orange-bg-color;
    box-shadow: $main-orange-bg-color 0px 16px 0px -8px;
    margin-bottom: 40px;
    position: relative;

    .mat-icon {
      top: -20px;
      width: 60px;
      height: 40px;
      background-color: $main-dark-bg-color;
      border-radius: 8px;
    }
    p {
      font-size: 3vw;
      line-height: 1.6em;
      font-weight: 100;
    }
    div {
      border: 1px solid;
      height: 200px;
    }
  }
}
