<section class="top-section-wrapper dog-paw">
  <div class="container-fluid flex-center g-0">
    <div class="image-section w-40">
      <img src="../../../assets/images/img/landing-page-image.jpg" class="img-fluid rounded-circle" alt="dog-bark-banner">
    </div>
    <div class="text-section w-60">
      <h2>Your dog won't believe you!</h2>
      <p>
        Visit shop and find the product of your dog's needs. Look no furher, we have it all!
      </p>
      <button type="button" class="btn">
        <p class="m-0 btn-text">Take a tour</p>
        <mat-icon class="">arrow_forward</mat-icon>
      </button>
    </div>
    <div class="gradient-bg h-100"></div>
  </div>
</section>
<section class="about-us-section-wrapper main-dark-bg w-100">
  <div class="about-us-top-section d-flex">
    <div class="w-60">
      <h2 class="about-us-section-header mb-3">
        What is <span class="orange-text">House of dogs</span>?
      </h2>
      <p>
        Biznis tajne su mastermind grupa uspešnih preduzetnika i onih koji to žele da postanu.
        Sastoje se od 2 dela: Edukativnog dela i Umrežavanja
        Biznis tajne su mastermind grupa uspešnih preduzetnika i onih koji to žele da postanu.
        Sastoje se od 2 dela: Edukativnog dela i Umrežavanja
        Biznis tajne su mastermind grupa uspešnih preduzetnika i onih koji to žele da postanu.
        Sastoje se od 2 dela: Edukativnog dela i Umrežavanja
      </p>
    </div>
    <div class="w-40 d-flex flex-column text-end">
      <div class="about-us-mission mt-3">
        <mat-icon svgIcon="dog-happy" class="custom-icon"></mat-icon>
        <span class="fw-bold">Dog life</span>
        <span class="opacity-50">Improving life of our beloved ones</span>
      </div>
      <hr class="w-60 hr-right mt-2">
      <div class="about-us-mission mt-2">
        <mat-icon svgIcon="planet" class="custom-icon"></mat-icon>
        <span class="fw-bold">Networking</span>
        <span class="opacity-50">Connecting dog lovers around the world</span>
      </div>
      <hr class="w-60 hr-right mt-2">
      <div class="about-us-mission mt-2">
        <mat-icon svgIcon="book" class="custom-icon"></mat-icon>
        <span class="fw-bold">Knowledge</span>
        <span class="opacity-50">Spreading knowledge about dogs</span>
      </div>
      <hr class="w-60 hr-right mt-2">
    </div>
  </div>
  <div class="about-us-bottom-section w-100 p-5">
    <div class="qoute-section w-100"></div>
  </div>
</section>
<section class="categories-section-wrapper container-fluid d-flex align-items-center justify-content-center">
  <div class="categories-heading-wrapper light-orange-bg rounded">
    <h2>Categories</h2>
  </div>
  <div class="categories-content d-flex">
    <app-category-selector
      *ngFor="let product of productCategories"
      [icon]="product.icon"
      [text]="product.name"
    ></app-category-selector>
  </div>
</section>
