@import '../../styles/variables';

.top-section-wrapper {
  background-color: $light-orange-bg-color;
  padding: 2rem;

  .container-fluid {
    position: relative;
    height: auto;
    color: black;
    padding: 1rem 0;

    // remove later
    border: 0;

    .image-section {
      z-index: 3;
      img { max-height: 450px; }
    }

    .text-section {
      // border: 1px solid;
      z-index: 2;
      padding: 1rem 1rem 0 2rem;

      .btn {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 16px;
      }
      .btn > .mat-icon {
          width: 9px;
          height: 9px;
          border-right: 2px solid black;
          border-bottom: 2px solid black;
          transform: rotate(-45deg);
          margin: 0 0.5rem;
          transition: all .3s ease;
      }
      .btn > .mat-icon::before {
          display: block;
          background-color: white;
          width: 10px;
          transform-origin: bottom right;
          height: 2px;
          position: absolute;
          opacity: 0;
          bottom: -1px;
          transform: rotate(45deg);
          transition: all .3s ease;
          content: "";
          right: 0;
      }
      .btn:hover > .mat-icon {
          transform: rotate(-45deg) translate(4px, 4px);
          border-color: white;
      }
      .btn:hover > .mat-icon::before {
          opacity: 1;
          width: 20px;
      }
    }

    .gradient-bg {
      position: absolute;
      width: 80%;
      right: 0;
      background: linear-gradient(90deg, rgba(249,226,226,0.5665616588432247) 0%, $main-orange-bg-color 100%);
      z-index: 1;
    }
  }
}

.top-section-wrapper.dog-paw {
  background-size: 100px;
  background-repeat: no-repeat;
}

.categories-section-wrapper {
  position: relative;

  .categories-heading-wrapper {
    color: black;
    width: 250px;
    text-align: center;
    height: 40px;
    top: -20px;
  }

  .categories-content {
    width: 80%;
    justify-content: space-between;
  }
}

.about-us-section-wrapper {
  color: white;
  padding: 1.125rem 2rem;

  .about-us-top-section {

    .about-us-section-header {
      font-family: "DM Serif Display", Sans-serif;
      font-size: 45px;
      font-weight: 600;
      line-height: 1.5em;
    }

    .about-us-mission {
      span { display: block; }
      .mat-icon {
        width: 24px;
        height: 26px;
        position: relative;
        right: 2px;
        & ~ .fw-bold { margin-top: -0.2rem; }
      }
    }
  }

  .about-us-bottom-section {
    .about-us-qoute-section {
      height: 500px;
      position: relative;
      border: 1px solid $main-orange-bg-color;
      box-shadow: $main-orange-bg-color 0px 16px 0px -8px;

      .mat-icon {
        top: -20px;
        width: 60px;
        height: 40px;
        background-color: $main-dark-bg-color;
        border-radius: 8px;
      }
    }
  }
}
