@import '../../../styles/variables.scss';

.filter-list-wrapper {
  position: relative;
  border-top: 1px solid $gray-border-color;
  border-bottom: 1px solid $gray-border-color;
  height: 60px;

  .filter-list {
    display: flex;
    align-items: center;
    gap: 32px;
    height: 100%;
    position: relative;
    padding: 0 4rem;

    .filter-item {
      cursor: default;
      &[filter="price"] { white-space: nowrap; }
      &[filter="sort"] { margin-left: auto; }
    }

    .active-filter-arrow {
      position: absolute;
      width: 20px;
      height: 11px;
      top: 40px;
      background-image: $gradient;
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
      opacity: 0;
      transition: .20s ease;
      pointer-events: none;
    }

  }

  .filter-dropdown {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50px;
    transition: .25s ease;

    .filter-dropdown-item {
      position: absolute;
      transition: .25s ease;
      overflow: hidden;
      z-index: -1;
      text-align: center;
      opacity: 0;

      ul {
        margin: 0.25rem 0;
        li {
          text-align: center;
          cursor: pointer;
          user-select: none;
          &:hover, span.active {
            background-image: $gradient;
          }

          &:has(.filter-color) {
            display: flex;
            justify-content: center;
            padding: 2px;
          }
        }
      }

      &[filter="orientation"] { width: 130px; }
      &[filter="price"] { width: 100px; }
      &[filter="color"] { width: 150px; }
      &[filter="sort"] { width: 120px; }
    }
  }

  // shared
  .filter-color {
    position: relative;
    // longest color text
    width: 90px;
    .color-square {
      width: 24px;
      height: 24px;
      border-radius: 6px;
    }
    span {
      position: absolute;
      left: 36px;
    }
  }
  .filter-sort {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
}

// smaller than 576px
@media only screen and (max-width: 576px) {
  .filter-list-wrapper {
    .filter-list {
      padding: 0 0.5rem;
      gap: 16px;
    }
  }
}
