hr(style="margin-top: 20px")
div(class="footer-wrapper")
  div
    a(href=instagram_url, target="_blank")
      img(src="cid:instagram" class="logo")

  block content

p(style="opacity: 0; font-size: 1px")
  | #{Date.now()}
