/* page */
$page-max-width: 1600px; // TODO: 1920?

/* header */
$header-height-lg: 120px;
$header-height-md: 60px;

/* viewport height */
$viewport-height-without-header: calc(100vh - $header-height-lg);

/* main background colors */
$main-dark-bg-color: #24242c;
$gradient-start: #EF65F9;
$gradient-end: #2A0EE2;
// same colors in rgb
$gradient: linear-gradient(90deg, rgba(239,101,249,1) 0%, rgba(138,56,239,1) 50%, rgba(42,14,226,1) 100%);
$gradient-reverse: linear-gradient(90deg, rgba(42,14,226,1) 0%, rgba(138,56,239,1) 50%, rgba(239,101,249,1) 100%);
$toast-green-bg-color: #02ff00;
$toast-red-bg-color: #B11010;

/* borders */
$gray-border-color: rgb(87, 87, 87);

/* text colors */
$dark-text: $main-dark-bg-color;

/* states */
$error-color: red;
$error-inset: inset 0px 0px 10px 5px rgba(255, 0, 0, 1);
$shadow-lifted: 0 0 30px 0 rgba(0, 0, 0, 0.3);

/* fonts */
$space-font: 'Space Colony Bold', 'Geneva', 'Verdana', 'sans-serif';
$product-metadata-font: 'Franklin Gothic Medium', Tahoma, 'Arial Narrow', Arial, sans-serif;

/* images */
$main-logo: url('../../assets/images/main-logo.png');
