/* header */
$header-height: 120px;

/* footer */

/* viewport height */
$viewport-height-without-header: calc(100vh - $header-height);

/* main background colors */
$main-dark-bg-color: #24242c;
$main-orange-bg-color: #F47650;
$toast-green-bg-color: #02ff00;
$toast-red-bg-color: #B11010;

/* other background colors */
$light-orange-bg-color: rgb(249, 226, 226);
$dark-orange-bg-color: rgb(81, 42, 0);

/* borders */
$gray-border-color: rgb(87, 87, 87);

/* text colors */
$white-text: white;
$dark-text: $main-dark-bg-color;
$orange-text: $main-orange-bg-color;
$gray-text: rgb(87, 87, 87);

/* states */
$error-color: red;
$error-inset: inset 0px 0px 10px 5px rgba(255, 0, 0, 0.6);
$shadow-lifted: 0 0 30px 0 rgba(0, 0, 0, 0.3);

/* fonts */
$secure-payment-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

/* images */
$main-logo: url('../../assets/images/svg/main-logo.svg');
// TODO: remove dog-paw?
$dog-paw: url('../../assets/images/svg/dog-paw-transparent-bg.svg');

