@import '../../styles/variables.scss';

.footer-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  background-color: $main-orange-bg-color;
  color: $dark-text;
  font-weight: bold;
  

  a {
    display: flex;
    justify-content: center;
    margin-top: 2px;
  }

  img {
    margin-left: 0.5rem;
    width: 25px;
    height: 25px;
  }
}
