<header
  *ngIf="['xl', 'lg', 'md'].includes(currentScreenSize)"
  class="large-screen"
  role="heading"
  [@expand]="expand"
>
  <div class="header-wrapper d-flex w-100">
    <div class="header-item logo-wrapper">
      <a routerLink="/" class="mx-0">
        <img alt="Logo for Everything AI brand" role="img">
      </a>
    </div>
    <form class="header-item search" (submit)="$event.preventDefault()">
      <input class="form-control" type="search" placeholder="Search" name="search" [value]="searchValue" (search)="handleSearch($event)">
    </form>
    <div class="header-item navigation-wrapper">
      <a
        routerLink="/"
        routerLinkActive="nav-active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        {{ 'Home' }}
      </a>
      <a routerLink="/images" routerLinkActive="nav-active">{{ 'Images' }}</a>
      <a routerLink="/control-panel" routerLinkActive="nav-active" *ngIf="isAdmin">
        {{ 'Admin' }}
      </a>
    </div>
    <!-- LOGGED IN -->
    <div class="header-item profile" *ngIf="isAuthenticated">
      <a routerLink="/cart" routerLinkActive="nav-active-cart" class="p-0 ms-0 me-5 d-flex">
        <app-gradient-container padding="0.5rem 0.5rem 0.25rem 0.5rem">
          <mat-icon
            matBadge="{{ numberOfItemsInCart }}"
            matBadgePosition="above after"
            matBadgeOverlap="true"
            matBadgeHidden="false"
            matBadgeDescription="number of items in shopping cart"
            matBadgeSize="medium"
            class="white"
          >
            shopping_cart
          </mat-icon>
        </app-gradient-container>
      </a>
      <button class="btn" (click)="handleLogout()">logout</button>
    </div>
    <!-- ********* -->
    <!-- LOGGED OUT -->
    <div class="header-item profile" *ngIf="!isAuthenticated">
      <button type="button" class="btn" (click)="handleAuthButton('login')">
        <span>Login</span>
      </button>
      <button type="button" class="btn me-2" (click)="handleAuthButton('register')">
        <span>Register</span>
      </button>
    </div>
    <!-- *********** -->
  </div>
</header>

<header
  *ngIf="['sm', 'xs'].includes(currentScreenSize)"
  role="heading"
  class="medium-screen"
  role="heading"
>
  <form class="search" (submit)="$event.preventDefault()">
    <input class="form-control" type="search" placeholder="Search" name="search" [value]="searchValue" (search)="handleSearch($event)">
  </form>
  <div class="outer-menu">
    <input class="checkbox-toggle" type="checkbox" #hamburgerToggle/>
    <div class="hamburger flex-center">
      <div class="flex-center"></div>
    </div>
    <div class="menu flex-center">
      <div class="flex-center">
        <div class="flex-center">
          <ul>
            <li>
              <a routerLink="/" routerLinkActive="nav-active-mobile" [routerLinkActiveOptions]="{exact: true}">
                <span>Home</span>
              </a>
            </li>
            <li>
              <a routerLink="/images" routerLinkActive="nav-active-mobile">
                <span>Images</span>
              </a>
            </li>
            <li>
              <a routerLink="/control-panel" routerLinkActive="nav-active-mobile" *ngIf="isAdmin">
                <span>Admin</span>
              </a>
            </li>
            <li>
              <a routerLink="/cart" routerLinkActive="nav-active-mobile" *ngIf="isAuthenticated">
                <span>Cart</span>
              </a>
            </li>
            <hr class="gradient my-0">
            <li *ngIf="!isAuthenticated" class="mb-0">
              <button type="button" class="btn" (click)="handleAuthButton('login')">
                <span>Login</span>
              </button>
            </li>
            <li *ngIf="!isAuthenticated" class="mt-2">
              <button type="button" class="btn" (click)="handleAuthButton('register')">
                <span>Register</span>
              </button>
            </li>
            <li *ngIf="isAuthenticated">
              <button type="button" class="btn" (click)="handleLogout()">
                <span>Logout</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
