@import '../../styles/variables';

header { 
  height: $header-height; 
  top: 0;
  // TODO: border?
  border-bottom: 1px solid white;
  overflow: hidden;
  // TODO: header shadow
  // box-shadow: 0px 3px 48px rgba(0, 0, 0, 0.3);
  // TODO: remove this
  // display: none;
}

// TODO: remove if not used
.topbar {
  height: 30px;
  background-color: $main-orange-bg-color;
}

.header-wrapper {
  justify-content: space-between;
  height: 100%;
  z-index: 998;
  position: relative;
  padding: 0 2rem;

  a {
    // display: inline-block;
    padding: 0.5rem 1.25rem;
    border-radius: 0;
    position: relative;
    text-decoration: none;
    color: white;

    $shadow-height: 6px;

    &:before, &:after {
      position: absolute;
      content: '';
      left: 0;
      height: $shadow-height;
      opacity: 0;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-property: opacity;
      transition-property: opacity;
      width: 100%;
      transform: rotate(135deg);
    }
    &:before {
      background: radial-gradient(ellipse at 50% 150%, $main-orange-bg-color 0%, rgba(255, 255, 255, 0) 80%);
      top: -$shadow-height;
    }
    &:after {
      background: radial-gradient(ellipse at 50% -50%, $main-orange-bg-color 0%, rgba(201, 17, 17, 0) 80%);
      bottom: -$shadow-height;
    }
  }

  a.nav-active {
    &:before, &:after { opacity: 1; }
  }

  .header-item.navigation-wrapper {
    order: 1;
    align-self: center;
    z-index: -1;
    width: fit-content;
    color: $gray-border-color;
  }

  .header-item.logo-wrapper {
    cursor: pointer;
    a { padding: 0; }

    img {
      content: $main-logo;
      max-height: 100%;
      width: 120px;
    }
  }

  .header-item.profile {
    order: 2;
    align-self: center;

    .btn {
      padding: 0.25rem;
      margin: 0.25rem;
      width: auto;
      min-width: 100px;
    }
    .btn:hover { border: 1px solid $gray-border-color; }
    // TODO: double check and remove
    // .btn:hover { border: 1px solid white; }
  }

}
