@import '../../styles/variables';

header { 
  // NOTE: height set in animation
  // TODO: remove large screen header on small screens and disable page lift animation
  top: 0;
  overflow: hidden;
  // border-bottom: 1px solid;
}

// TODO: remove if not used
.topbar {
  height: 30px;
  background-color: $main-orange-bg-color;
}

.header-wrapper {
  justify-content: space-between;
  height: 100%;
  z-index: 998;
  position: relative;
  padding: 0 2rem;

  a {
    // display: inline-block;
    padding: 0.5rem 1.25rem;
    border-radius: 0;
    position: relative;
    text-decoration: none;
    color: white;

    $shadow-height: 6px;

    &:before, &:after {
      position: absolute;
      content: '';
      left: 0;
      height: $shadow-height;
      opacity: 0;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-property: opacity;
      transition-property: opacity;
      width: 100%;
      transform: rotate(135deg);
    }
    &:before {
      background: radial-gradient(ellipse at 50% 150%, $main-orange-bg-color 0%, rgba(255, 255, 255, 0) 80%);
      top: -$shadow-height;
    }
    &:after {
      background: radial-gradient(ellipse at 50% -50%, $main-orange-bg-color 0%, rgba(201, 17, 17, 0) 80%);
      bottom: -$shadow-height;
    }
  }

  a.nav-active {
    &:before, &:after { opacity: 1; }
  }

  .header-item.navigation-wrapper {
    order: 1;
    align-self: center;
    z-index: -1;
    width: fit-content;
    color: $gray-border-color;
  }

  .header-item.logo-wrapper {
    cursor: pointer;
    a { padding: 0; }

    img {
      content: $main-logo;
      max-height: 100%;
      width: 120px;
    }
  }

  .header-item.profile {
    order: 2;
    align-self: center;

    .btn {
      padding: 0.25rem;
      margin: 0.25rem;
      width: auto;
      min-width: 100px;
    }
    .btn:hover { border: 1px solid $gray-border-color; }
    // TODO: double check and remove
    // .btn:hover { border: 1px solid white; }
  }

}

// medium screen
// TODO: remove?
// header.medium-screen.to-be-removed {
//   display: none;
//   height: auto;
//   $items: 6;
//   $transition-duration: 0.5s;
//   $transition-delay: 0.05s;

//   a { text-decoration: none; }

//   /* Toggle functionality */

//   // To hide the checkbox
//   #toggle {
//     position: absolute;
//     left: -100%;
//     top: -100%;
//   }

//   #toggle:focus {

//     & ~ .toggle-container .button-toggle {
//       // box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
//     }
//   }

//   // Styles for the 'open' state, if the checkbox is checked
//   #toggle:checked {
//     // Any element you need to change the style if menu is open goes here, using the sibling selector (~) as follows

//     // Making the "X" icon using `:before` and `:after` pseudo-elements
//     & ~ .toggle-container .button-toggle {
//       box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);

//       &:hover {
//         box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
//       }

//       &:before {
//         transform: translateY(-50%) rotate(45deg) scale(1);
//       }

//       &:after {
//         transform: translateY(-50%) rotate(-45deg) scale(1);
//       }
//     }

//     &:focus ~ .toggle-container .button-toggle {
//       box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
//     }

//     // Open nav
//     & ~ .nav {
//       margin-bottom: 100px;
//       pointer-events: auto;
//       height: 400px;

//       .nav-inner {
//         // 100% - width of nav inner
//         transform: translate(calc(-100% + 100px), 50px);

//         .inner-inner { 
//           position: absolute;
//           right: 0;
//         }
//       }

//       // Restoring nav items from "lines" in the menu icon
//       .nav-item {
//         transition-delay: $transition-duration;  
//         text-align: left;
//         color: $orange-text;
//         letter-spacing: 0;
//         height: 40px;
//         line-height: 40px;
//         margin-top: 0;
//         // here
//         // opacity: 1;
//         transform: scaleY(1);
//         transition: $transition-duration, opacity 0.1s;

//         & > button { width: 100px; }

//         // Setting delays for the nav items in open transition
//         @for $i from 1 through $items {
//           &:nth-child(#{$i}) {
//             $delay: ($items - $i) * $transition-delay;
//             transition-delay: $delay;
//             &:before {
//               transition-delay: $delay;
//             }
//           }
//         }

//         // Hiding the lines
//         &:before {
//           opacity: 0;
//         }
//       }

//       hr.nav-item {
//         height: 1px;
//         border-width: 1px;
//         border-radius: 12px;
//         width: 100px;
//         opacity: 1;
//         transition: $transition-duration;
//         &:before {
//           height: 150px !important;
//         }
//       }
//     }
//   }

//   label {
//     position: absolute;
//     top: 0;
//     right: 90px;
//   }


//   /* Toggle button */

//   .button-toggle {
//     position: absolute;
//     top: 0;
//     left: -2px;
//     display: inline-block;
//     width: 30px;
//     height: 30px;
//     margin: 25px;
//     background-color: transparent;
//     border: none;
//     cursor: pointer;
//     border-radius: 100%;
//     transition: $transition-duration + 0.1;

//     // Shadow on hover
//     &:hover {
//       // box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
//     }

//     // Making the "X" icon using `:before` and `:after` pseudo-elements
//     // Initially hidden because `scale(0)` transformation

//     &:before, &:after {
//       position: absolute;
//       content: '';
//       top: 50%;
//       left: 0;
//       width: 100%;
//       height: 2px;
//       background-color: $orange-text;
//       border-radius: 5px;
//       transition: $transition-duration;
//     }

//     &:before {
//       transform: translateY(-50%) rotate(45deg) scale(0);
//     }

//     &:after {
//       transform: translateY(-50%) rotate(-45deg) scale(0);
//     }
//   }


//   /* Menu */

//   .nav {
//     height: 0;
//     width: 100%;
//     display: inline-block;
//     margin: 25px 25px 20px;
//     // Don't want pointer-events as menu is closed
//     pointer-events: none;
//     transition: $transition-duration;

//     .nav-inner {
//       height: 100%;
//       transition: $transition-duration;

//       hr {
//         width: 0;
//         margin: 0;
//         transition: $transition-duration;
//         border: 2px solid $main-orange-bg-color;
//         background-color: $main-orange-bg-color;
//       }
//     }
//   }

//   // Showing nav items as lines, making up the hamburger menu icon
//   .nav-item {
//     position: relative;
//     display: inline-block;
//     float: right;
//     clear: both;
//     color: transparent;
//     font-size: 14px;
//     letter-spacing: -6.2px;
//     height: 7px;
//     line-height: 7px;
//     text-transform: uppercase;
//     white-space: nowrap;
//     transform: scaleY(0.2);
//     transition: $transition-duration, opacity 1s;

//     button {
//       width: 0;
//       height: 40px !important;
//       color: $dark-text !important;
//       display: flex;
//       justify-content: center;
//       transition: $transition-duration;
      
//       &:hover { background-color: $main-orange-bg-color; }
//     }

//     // Setting delays for the nav items in close transition
//     @for $i from 1 through $items {
//       &:nth-child(#{$i}) {
//         $delay: ($i - 1) * $transition-delay;
//         transition-delay: $delay;
//         &:before {
//           transition-delay: $delay;
//         }
//       }
//     }

//     // Adjusting width for the first line
//     &:nth-child(1) {
//       letter-spacing: -6px;
//     }

//     // Adjusting width for the second line
//     &:nth-child(2) {
//       letter-spacing: -5px;
//     }

//     &:nth-child(3) {
//       letter-spacing: -4.5px;
//     }

//     // Adjusting from the fourth element onwards
//     &:nth-child(n + 4) {
//       letter-spacing: -8px;
//       margin-top: -7px;
//       // opacity: 0;
//     }

//     // Getting the lines for the hamburger menu icon
//     &:before {
//       position: absolute;
//       content: '';
//       top: 50%;
//       left: 0;
//       width: 100%;
//       height: 2px;
//       background-color: $main-orange-bg-color;
//       transform: translateY(-50%) scaleY(5);
//       transition: $transition-duration;
//     }
//   }

// }


header.medium-screen {
  $main-color:#FEFEFE;
  $anim-duration: .4s;
  $hamburger-menu-size: 60px;
  $hamburger-menu-border-radius: .12em;
  $hamburger-menu-line-height: 2px;
  $hover-line-height: $hamburger-menu-line-height;
  $hover-color: darken($main-orange-bg-color, 10%);

  display: none;
  height: 60px;

  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
  }

  .outer-menu {
    position: fixed;
    width: 60px;
    top: 10px;
    right: 10px;
    z-index: 1;
    
    .checkbox-toggle {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
      width: $hamburger-menu-size;
      height: $hamburger-menu-size;
      opacity: 0;
      
      &:checked {
        & + .hamburger {
          > div {
            transform: rotate(135deg);
            
            &:before,
            &:after {
              top: 0;
              transform: rotate(90deg);
            }
            
            &:after {
              opacity: 0;
            }
          }
        }
        
        & ~ .menu  {
          pointer-events: auto;
          visibility: visible;
          
          > div {
            transform: scale(1.2);
            transition-duration: .75s;
            
            > div {
              opacity: 1;
              transition: opacity $anim-duration ease $anim-duration;
            }
          }
        }
      }
      
      &:checked:hover + .hamburger > div {
        transform: rotate(225deg);
      }
    }
    
    .hamburger {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: $hamburger-menu-size;
      height: $hamburger-menu-size;
      padding: .5em 1em;
      border-radius: 0 $hamburger-menu-border-radius $hamburger-menu-border-radius 0;
      cursor: pointer;
      transition: box-shadow $anim-duration ease;
      backface-visibility: hidden;
      
      > div {
        position: relative;
        flex: none;
        width: 100%;
        height: $hamburger-menu-line-height;
        background: $main-color;
        background-color: $main-orange-bg-color;
        transition: all $anim-duration ease;
  
        
        &:before,
        &:after {
          content: '';
          position: absolute;
          z-index: 1;
          top: -$hamburger-menu-size / 6;
          left: 0;
          width: 100%;
          height: $hamburger-menu-line-height;
          background: inherit;
          transition: all $anim-duration ease;
        }
        
        &:after {
          top: $hamburger-menu-size / 6;
        }
      }
    }
    
    .menu {
      position: fixed;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      pointer-events: none;
      visibility: hidden;
      overflow: hidden;
      backface-visibility: hidden;
      outline: 1px solid transparent;
      
      > div {
        width: 200vw;
        height: 200vw;
        color: white;
        background-color: black;
        border-radius: 50%;
        transition: all $anim-duration ease;
        flex: none;
        transform: scale(0);
        backface-visibility: hidden;
        overflow: hidden;
  
        
        > div {
          text-align: center;
          max-width: 90vw;
          max-height: 100vh;
          opacity: 0;
          transition: opacity $anim-duration ease;
          overflow-y: auto;
          flex: none;
    
          
          > ul {
            list-style: none;
            padding: 0 1em;
            margin: 0;
            display: block;
            max-height: 100vh;
            
            > li {
              padding: 0;
              margin: 1em;
              font-size: 24px;
              display: block;
              
              > a {
                position: relative;
                display: inline;
                cursor: pointer;
                transition: color $anim-duration ease;

                &.nav-active-mobile {
                  color: $orange-text;
                }
                
                &:hover {
                  // color: $hover-color;
                  
                  // &:after {
                  //   width: 100%;
                  // }
                }
                
                &:after {
                  content: '';
                  position: absolute;
                  z-index: 1;
                  bottom: -.15em;
                  left: 0;
                  width: 0;
                  height: $hover-line-height;
                  background: $hover-color;
                  transition: width $anim-duration ease;
                }
              }

              > button {
                width: 120px;
                
                &:hover { 
                  background-color: $main-orange-bg-color; 
                  color: $dark-text;
                }
              }
            }
          }
        }
      }
    }
  }
}


// // smaller than 976px
@media only screen and (max-width: 976px) { 
  header.large-screen { display: none; }
  header.medium-screen { display: block; }
}
// // smaller than 768px
// @media only screen and (max-width: 768px) { 
//   header.medium-screen { 
//     #toggle:checked {
//       & ~ .nav .nav-inner { 
//         transform: translate(calc(-50% + 100px), 50px); 
//         hr { width: 200px; }
//       }
//     }

//     .inner-inner {
//       float: right;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//     }
//   }
// }
// // smaller than 576px
// @media only screen and (max-width: 576px) { 
// }
