@import '../../styles/variables';

header {
  // NOTE: height set in animation
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 99999; // 5
  position: fixed;
  background-color: black;

  input[type="search"] {
    box-shadow: none;
    background-color: #e8f4f3;

    &::-webkit-search-cancel-button {
      display: inline-block;
      height: 20px;
      width: 20px;
      -webkit-filter: brightness(50%);
      filter: brightness(50%);
      cursor: pointer;
    }

    &:focus { border-color: white; }
  }

  a {
    text-decoration: none;
    font-family: $space-font;
    color: white;
  }
}

// large only
.header-wrapper {
  max-width: calc($page-max-width - 4.5rem);
  margin: auto;
  height: 100%;
  padding: 0 2rem;

  $active-route-transition: 0.5s ease;

  a {
    font-size: 14px;
    margin: 0 1.25rem;
    border-radius: 0;
    position: relative;
    transition: $active-route-transition;

    .mat-icon { transition: $active-route-transition; }
  }

  a.nav-active {
    text-shadow:
      -2px -2px 3px $gradient-start,
       2px -2px 3px $gradient-start,
      -2px  2px 3px $gradient-end,
       2px  2px 3px $gradient-end;
  }

  a.nav-active-cart {
    filter:
      drop-shadow(0px 0px 10px $gradient-start)
      drop-shadow(0px 0px 10px $gradient-end);
  }

  .header-item {
    display: flex;
    align-items: center;

    &.logo-wrapper {
      cursor: pointer;
      a { padding: 0; }

      img {
        content: $main-logo;
        max-height: 100px;
        backface-visibility: hidden;
      }
    }
    &.search {
      width: 100%;
      max-width: 400px;
      min-width: 300px;
      margin-left: 6.5rem;
    }
    &.navigation-wrapper {
      justify-content: center;
      width: 100%;
    }
    &.profile {
      margin-left: auto;
      .btn {
        padding: 0.25rem;
        margin: 0.25rem;
        width: auto;
        min-width: 100px;
      }
    }

  }
}

header.medium-screen {
  $anim-duration: .4s;
  $hamburger-menu-size: 60px;
  $hamburger-menu-border-radius: .12em;
  $hamburger-menu-line-height: 2px;
  $hover-line-height: $hamburger-menu-line-height;

  height: $hamburger-menu-size + 20px;

  a,
  a:visited,
  a:hover,
  a:active {
    font-size: 16px;
    color: inherit;
    text-decoration: none;
  }

  input[type="search"] {
    width: calc(100% - 2 * $hamburger-menu-size);
    margin: 20px 96px 0 auto;
  }

  .outer-menu {
    position: fixed;
    width: 60px;
    top: 10px;
    right: 10px;
    z-index: 1;

    .checkbox-toggle {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
      width: $hamburger-menu-size;
      height: $hamburger-menu-size;
      opacity: 0;

      &:checked {
        & + .hamburger {
          > div {
            transform: rotate(135deg);

            &:before,
            &:after {
              top: 0;
              transform: rotate(90deg);
            }

            &:after {
              opacity: 0;
            }
          }
        }

        & ~ .menu  {
          pointer-events: auto;
          visibility: visible;

          > div {
            transform: scale(1.2);
            transition-duration: .75s;

            > div {
              opacity: 1;
              transition: opacity $anim-duration ease $anim-duration;
            }
          }
        }
      }

      &:checked:hover + .hamburger > div {
        transform: rotate(225deg);
      }
    }

    .hamburger {
      position: absolute;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0;
      z-index: 1;
      width: $hamburger-menu-size;
      height: $hamburger-menu-size;
      padding: .5em 1em;
      border-radius: 0 $hamburger-menu-border-radius $hamburger-menu-border-radius 0;
      cursor: pointer;
      transition: box-shadow $anim-duration ease;
      backface-visibility: hidden;

      > div {
        position: relative;
        flex: none;
        width: 100%;
        height: $hamburger-menu-line-height;
        background-image: $gradient;
        transition: all $anim-duration ease;

        &:before,
        &:after {
          content: '';
          position: absolute;
          z-index: 1;
          top: -10px;
          left: 0;
          width: 100%;
          height: $hamburger-menu-line-height;
          background: inherit;
          transition: all $anim-duration ease;
        }

        &:after {
          top: 10px;
        }
      }
    }

    .menu {
      position: fixed;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      pointer-events: none;
      visibility: hidden;
      overflow: hidden;
      backface-visibility: hidden;
      outline: 1px solid transparent;

      > div {
        width: 200vw;
        height: 200vw;
        color: white;
        background-color: $main-dark-bg-color;
        border-radius: 50%;
        transition: all $anim-duration ease;
        flex: none;
        transform: scale(0);
        backface-visibility: hidden;
        overflow: hidden;

        > div {
          text-align: center;
          max-width: 90vw;
          max-height: 100vh;
          opacity: 0;
          transition: opacity $anim-duration ease;
          overflow-y: auto;
          flex: none;

          > ul {
            list-style: none;
            padding: 0 1em;
            margin: 0;
            display: block;
            max-height: 100vh;

            > li {
              padding: 0;
              margin: 1.5rem;

              > a {
                position: relative;
                display: inline;
                cursor: pointer;

                &.nav-active-mobile {
                  text-shadow:
                    -2px -2px 3px $gradient-start,
                     2px -2px 3px $gradient-start,
                    -2px  2px 3px $gradient-end,
                     2px  2px 3px $gradient-end;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* MEDIA QUERIES */
// smaller than 1400px
@media only screen and (max-width: 1400px) {
  .header-wrapper {
    .header-item {
      &.navigation-wrapper { min-width: 350px; }
    }
  }
}
// smaller than 1200px
@media only screen and (max-width: 1200px) {
  .header-wrapper {
    .header-item {
      &.search {
        min-width: 250px;
        margin: 0 1.5rem;
      }
      &.navigation-wrapper { min-width: unset; }
    }
  }
}
