@import '../../../styles/variables.scss';

.product-list-wrapper {

  // better initial feel of infinite scroll
  // min-height: 600px;

  app-loading {
    &[variant="sketch"] {
      position: relative;
      top: 100px;
    }
  }

  .masonry-item {
    margin-bottom: 10px;
    transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
  }

}

