@import '../../styles/variables.scss';

div.wrapper {
  margin-top: 25px;
  height: calc($viewport-height-without-header - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: -50px;

  button {
    width: 180px;
    font-size: 1rem;
  }
}
