@import '../../../../styles/variables.scss';


.product-item-wrapper {
  opacity: 0;
  transform: translateY(100px);
  &.show {
    $delay: calc(var(--data-stagger) * 100ms);
    animation: show 300ms ease $delay forwards;
  }
  @keyframes show {
    to { opacity: 1; transform: translateY(0); }
  }
}

.product-item-wrapper.hide {
  $delay: calc(var(--data-stagger) * 50ms);
  animation: hide 150ms ease $delay forwards;
  @keyframes hide {
    to { transform: scale(0); }
  }
}

// separated for better visibility
.product-item-wrapper {
  cursor: pointer;
  user-select: none;
  position: relative;

  .product-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  $show-on-hover-duration: 0.5s;

  .product-title {
    position: absolute;
    top: -40px;
    width: 100%;
    text-align: center;
    font-size: calc(1rem + 0.5vw); // TODO: remove this, check with longer titles?
    text-transform: capitalize;
    color: white;
    font-family: $space-font;
    font-size: 18px;
    padding: 0 0.5rem;
    opacity: 0;
    transition: $show-on-hover-duration;
    line-height: 24px;
    z-index: 0;
  }

  // prevent absolute outside element from triggering hover
  ul, .product-title { pointer-events: none; }
  ul > * { pointer-events: auto; }

  ul {
    position: absolute;
    bottom: -40px;
    left: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom $show-on-hover-duration, opacity $show-on-hover-duration;
    z-index: 3;

    li {
      display: inline-block;
      margin-right: 4px;
      background-color: $main-dark-bg-color;
      width: 40px;
      height: 40px;
      line-height: 50px;
      text-align: center;

      .mat-icon {
        position: relative;
        &[icon="cart"] {
          transform: scale(1.2);
          top: -2px;
          ::ng-deep svg { vertical-align: top; }
        }
        &[icon="download"] {
          transform: scale(1.25);
          top: 1px;
        }
        &[icon="favorite"],
        &[icon="favorite_border"] {
          // take full space for mat tooltip
          width: 100%;
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;
          &.pulse { animation: 0.3s pulse; }
          @keyframes pulse {
            0% { transform: scale(1.1); }
            50% { transform: scale(0.5); }
            100% { transform: scale(1.1); }
          }
        }
      }

      .mat-mdc-progress-spinner { display: inline-block; }
    }
  }
  &:hover {
    .product-title {
      top: 4px;
      opacity: 1;
    }
    ul {
      bottom: 10px;
      opacity: 1;
    }
  }

  .discount-ribbon {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: -9.5px;
    right: -10px;
    z-index: 1;
    cursor: pointer;
  }
  .discount-ribbon::before,
  .discount-ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid rgb(218, 3, 3);
  }
  .discount-ribbon::before {
    top: 0;
    left: 0;
  }
  .discount-ribbon::after {
    bottom: 0;
    right: 0;
  }
  .discount-ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 26px 15px 0;
    background-color: red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font: 700 18px/1 sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: center;
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }

  @-webkit-keyframes flow {
    0%  { left: -20px; opacity: 0;   }
    7%  { left: 80px;  opacity: 0.5; }
    15% { left: 170px; opacity: 0;   }
    100%{ left: 100px; opacity: 0;   }
  }
  @keyframes flow {
    0%  { left: -20px; opacity: 0;   }
    7%  { left: 80px;  opacity: 0.5; }
    15% { left: 170px; opacity: 0;   }
    100%{ left: 100px; opacity: 0;   }
  }

  .glow {
    background: rgb(255,255,255);
    width: 40px;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    -webkit-animation: flow 10s linear infinite;
    -moz-animation: flow 10s linear infinite;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(248, 243, 147, 0.8)), color-stop(1%,rgba(248, 243, 147, 0.8)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(left, rgba(248, 243, 147, 0.8) 100%,rgb(255, 255, 255) 100%,rgb(255, 255, 255) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(left, rgba(248, 243, 147, 0.8) 100%,rgb(255, 255, 255) 100%,rgb(255, 255, 255) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(248, 243, 147, 0.8) 100%,rgb(255, 255, 255) 100%,rgb(255, 255, 255) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(248, 243, 147, 0.8) 100%,rgb(255, 255, 255) 100%,rgb(255, 255, 255) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(248, 243, 147, 0.8) 100%,rgb(255, 255, 255) 100%,rgb(255, 255, 255) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ border-left:1px solid #fff;
  }

}

/* MEDIA QUERIES */
// smaller than 976px
@media only screen and (max-width: 976px) {
  .product-item-wrapper {
    // these 2 are hover styles
    .product-title { top: 4px; opacity: 1; }
    ul { bottom: 10px; opacity: 1; }

    ul {
      display: flex;
      flex-direction: row-reverse;
      left: unset;
      right: 16px;
    }
  }
}
// smaller than 576px
@media only screen and (max-width: 576px) {
  .product-item-wrapper {
    .product-title { font-size: 24px; }
  }
}
