<div class="product-item-wrapper position-relative">
  <mat-icon *ngIf="product.isInCart" class="if-in-cart-icon">shopping_cart</mat-icon>
  <div *ngIf="product.information.discount && actions.includes(productActions.CART)" class="discount-ribbon-outside">
    <span>- {{ product.information.discount.percentage }} %
    <div class="glow"></div>
    </span>
  </div>
  <div class="top-section overflow-hidden">
    <!-- // TODO: add alt -->
    <img src="{{ product.imgPath }}" alt="" (load)="handleImageLoaded()">
    <ul>
      <!-- // BUG:Important! some don't have tooltip when hovered (download, like etc.) -->
      <li *ngFor="let action of actions">
        <mat-spinner *ngIf="product.spinners[action]; else enableAction" diameter="25" strokeWidth="5"></mat-spinner>
        <ng-template #enableAction>
          <!-- hardcoded to avoid implementation issues - two actions in one box, mat-icon type (custom vs mat-icon) -->
          <mat-icon *ngIf="action === productActions.CART && !product.isInCart" svgIcon="cart-add" icon="cart" (click)="addToCart()"></mat-icon>
          <mat-icon *ngIf="action === productActions.CART && product.isInCart" svgIcon="cart-remove" icon="cart"(click)="removeFromCart()"></mat-icon>
          <mat-icon *ngIf="action === productActions.LIKE" icon="favorite" (click)="handleLike()">favorite</mat-icon>
          <mat-icon *ngIf="action === productActions.DOWNLOAD" icon="download" (click)="handleDownload()">download</mat-icon>
        </ng-template>
      </li>
    </ul>
  </div>
  <div class="bottom-section">
    <div class="product-title fw-bold"><a href="#" class="user-select-none">{{ product.title }}</a></div>
    <div class="container product-information">
      <div class="row gy-3 mx-auto my-0">
        <div class="col-4 product-information-item">
          <mat-icon svgIcon="dollar" icon="dollar"></mat-icon>
          <ng-container *ngIf="!product.information.discount">
            <span>{{ product.information.price }}</span>
          </ng-container>
          <ng-container *ngIf="product.information.discount">
            <span class="product-old-price">{{ product.information.price }}</span>
            <span class="product-discounted-price">{{ product.information.discount.discountedPrice }}</span>
          </ng-container>
        </div>
        <div class="col-4 product-information-item justify-content-center">
          <mat-icon svgIcon="video"></mat-icon>
          <span class="ms-1">{{ product.information.videoDuration }}h</span>
        </div>
        <div class="col-4 product-information-item justify-content-end">
          <mat-icon icon="download">download</mat-icon>
          <span class="ms-1">{{ product.information.downloadSize }}gb</span>
        </div>
        <div class="col-4 product-information-item text-nowrap">
          <mat-icon>check_circle</mat-icon>
          <span>{{ product.information.daysToMasterSkill }} days</span>
        </div>
        <div
          [ngClass]="{
            'length-1': (product.information.videoDuration).toString().length === 1,
            'length-2': (product.information.videoDuration).toString().length === 2,
            'length-3': (product.information.videoDuration).toString().length === 3,
            'length-4': (product.information.videoDuration).toString().length === 4
          }"
          class="col-8 product-information-item difficulty position-relative"
        >
          <mat-icon svgIcon="sweat-drops"></mat-icon>
          <span class="ms-1">{{ product.information.difficulty | titlecase }}</span>
        </div>
      </div>
    </div>
  </div>
</div>  