<div class="product-item-wrapper position-relative">
  <mat-icon *ngIf="product.isInCart" class="if-in-cart-icon">shopping_cart</mat-icon>
  <div *ngIf="product.discount && actions.includes(productActions.CART)" class="discount-ribbon-outside">
    <span>- {{ product.discount }} %
    <div class="glow"></div>
    </span>
  </div>
  <div class="top-section overflow-hidden">
    <!-- // TODO: add alt -->
    <img src="{{ product.imgPath }}" alt="" (load)="handleImageLoaded()" (error)="handleImageLoadError($event)">
    <ul>
      <!-- // BUG:Important! some don't have tooltip when hovered (download, like etc.) -->
      <li *ngFor="let action of actions">
        <mat-spinner *ngIf="product.spinners[action]; else enableAction" diameter="25" strokeWidth="5"></mat-spinner>
        <ng-template #enableAction>
          <!-- hardcoded to avoid implementation issues - two actions in one box, mat-icon type (custom vs mat-icon) -->
          <mat-icon *ngIf="action === productActions.CART && !product.isInCart" svgIcon="cart-add" icon="cart" (click)="addToCart()"></mat-icon>
          <mat-icon *ngIf="action === productActions.CART && product.isInCart" svgIcon="cart-remove" icon="cart"(click)="removeFromCart()"></mat-icon>
          <mat-icon *ngIf="action === productActions.LIKE" icon="favorite" (click)="handleLike()">favorite</mat-icon>
          <mat-icon *ngIf="action === productActions.DOWNLOAD" icon="download" (click)="handleDownload()">download</mat-icon>
        </ng-template>
      </li>
    </ul>
  </div>
  <div class="bottom-section">
    <div class="product-title fw-bold"><a href="#" class="user-select-none">{{ product.title }}</a></div>
    <div class="product-information mt-3">
      <div 
        class="product-information-item" 
        *ngFor="let metadata of product.metadataIconMap | keyvalue: keepOrder"
        [attr.item]="metadata.key"
      >
        <mat-icon [svgIcon]="metadata.value.type === 'custom' ? metadata.value.iconName : ''">
          {{ metadata.value.type === 'custom' ? '' : metadata.value.iconName  }}
        </mat-icon>
        <!-- price not part of metadata -->
        <span class="ms-1" *ngIf="metadata.key === 'price'">{{ product.price }}</span>
        <span class="ms-1" *ngIf="metadata.key !== 'price'">{{ product.metadata[metadata.key] }}</span> 
      </div>
    </div>
  </div>
</div>  