<section class="h-100" class="shopping-cart-outer-wrapper">
  <div class="container pt-5 px-0 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card shopping-card-inner-wrapper">
          <div class="card-body p-md-4">

            <h5 class="mb-3 ps-2">
              <a routerLink="/products" class="d-inline-flex gap-1 dark-text text-decoration-underline">
                <mat-icon class="rotate-180">arrow_right_alt</mat-icon>
                <span>Continue shopping</span>
              </a>
            </h5>
            <hr>

            <mat-spinner
              *ngIf="showLoadSpinner; else content"
              diameter="50"
              strokeWidth="5"
              class="reverse absolute-center"
            ></mat-spinner>

            <ng-template #content>
              <div class="row">
                <div class="col-lg-7 cart-items-column-wrapper">
  
                  <div class="d-flex justify-content-flex-start align-items-center mb-2 ps-2">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                      <p>You have {{ cart.items.length }} items</p>
                    </div>
  
                    <!-- // TODO: sort commented out -->
                    <!-- <div>
                      <p class="mb-0"><span class="text-muted">Sort by:</span>
                        <a href="#!"class="text-body">
                          price
                          <mat-icon>keyboard_arrow_down</mat-icon>
                        </a>
                      </p>
                    </div> -->
                  </div>
                  
                  <div class="cart-items-wrapper">
                    <div class="card cart-item" *ngFor="let item of getCurrentCart()" [ngClass]="{'hovered' : item.spinners.delete}">
                      <div class="card-body p-2">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-column flex-sm-row flex-grow-1 align-items-center">
                            <div>
                              <img
                                src="{{ item.imgPath }}"
                                class="rounded-3" alt="Shopping item"
                              >
                            </div>
                            <div class="cart-item-description ms-0 ms-sm-3">
                              <h5 class="cart-item-title">{{ item.title }}</h5>
                              <div class="d-flex gap-1 align-items-center">
                                <div 
                                  class="cart-item-metadata-item" 
                                  *ngFor="let metadata of item.metadataIconMap | keyvalue: keepOrder"
                                  [attr.item]="metadata.key"
                                >
                                  <p class="small mb-0">
                                    <mat-icon [svgIcon]="metadata.value.type === 'custom' ? metadata.value.iconName : ''">
                                      {{ metadata.value.type === 'custom' ? '' : metadata.value.iconName  }}
                                    </mat-icon>
                                  </p>
                                  <span class="small mb-0">{{ item.metadata[metadata.key] }}</span>
                                  <div class="vr"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cart-item-price d-flex flex-row align-items-center gap-2 gap-sm-3">
                            <div>
                              <h5 class="mb-0">
                                {{ utilService.getProductPrice(item) }}&nbsp;$
                              </h5>
                            </div>
                            <mat-icon 
                              *ngIf="!item.spinners.delete"
                              class="icon-delete" 
                              (click)="removeFromCart(item)"
                            >delete_forever
                            </mat-icon>
                            <mat-spinner
                              *ngIf="item.spinners.delete"
                              diameter="25"
                              strokeWidth="4"
                              class="reverse"
                            ></mat-spinner>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <mat-paginator
                    #paginator
                    *ngIf="screenSize !== 'xs' && cart.items.length > config.pageSize"
                    class="mt-1"
                    [length]="cart.items.length"
                    pageSize="{{ config.pageSize }}"
                    hidePageSize="true"
                    showFirstLastButtons="true"
                    (page)="changePage()"
                  ></mat-paginator>
                    
                </div>
  
                <div class="col-lg-5 payment-column-wrapper mt-4">
  
                    <div class="card text-white rounded-3 payment-wrapper">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="mb-0">Card details</h5>
                      </div>
  
                      <p class="small mb-2">Supported cards</p>
                      <div class="icon-wrapper">
                        <mat-icon svgIcon="visa"></mat-icon>
                        <!-- TODO: alt for seo -->
                        <img src="assets/images/img/mastercard.png" alt="">
                        <!-- // TODO: not supported by stripe, why? -->
                        <!-- Your card is not supported. Please use a Visa, MasterCard, or Carnet card -->
                        <!-- <mat-icon svgIcon="american-express"></mat-icon> -->
                      </div>
  
                      <form class="mt-4" [formGroup]="paymentForm" (ngSubmit)="handlePurchase()">
                        <div class="form-group mb-3">
                          <input
                            type="text"
                            class="form-style white-input"
                            name="card-holder-name"
                            formControlName="holder_name"
                            placeholder="Cardholder's name"
                            autocomplete="off"
                          />
                          <span
                            *ngIf="paymentForm.get('holder_name')?.hasError('required') && paymentForm.get('holder_name')?.touched"
                            class="form-text text-white ms-1 fw-bold d-block">Cardholder's name is required
                          </span>
                          <span
                            *ngIf="paymentForm.get('holder_name')?.hasError('maxlength') && paymentForm.get('holder_name')?.touched"
                            class="form-text text-white ms-1 fw-bold d-block">Cardholder's name cannot be over 24 characters long
                          </span>
                          <span
                            *ngIf="paymentForm.get('holder_name')?.hasError('pattern') && paymentForm.get('holder_name')?.touched"
                            class="form-text text-white ms-1 fw-bold d-block">Cardholder's name can only contain alphabetic characters and spaces                     
                          </span>
                          <!-- <label class="form-label" for="card-holder-name">Cardholder's name</label> -->
                        </div>
  
                        <div class="form-group mb-3">
                          <input
                            type="text"
                            class="form-style white-input"
                            name="card-number"
                            formControlName="number"
                            placeholder="Card number"
                          />
                          <span
                            *ngIf="paymentForm.get('number')?.hasError('required') && paymentForm.get('number')?.touched"
                            class="form-text text-white ms-1 fw-bold d-block">Card number is required
                          </span>
                          <span
                            *ngIf="paymentForm.get('number')?.hasError('maxlength') && paymentForm.get('number')?.touched"
                            class="form-text text-white ms-1 fw-bold d-block">Card number cannot be over 20 characters long
                          </span>
                          <span
                            *ngIf="paymentForm.get('number')?.hasError('pattern') && paymentForm.get('number')?.touched"
                            class="form-text text-white ms-1 fw-bold d-block">Card number can only contain numbers and dash (-)                      
                          </span>
                          <!-- <label class="form-label" for="card-number">Card number</label> -->
                        </div>
  
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group mb-3">
                              <input
                                type="text"
                                class="form-style white-input"
                                name="card-expiration-date"
                                formControlName="expiration_date"
                                placeholder="Exp. (MM/YYYY)"
                              />
                              <span
                                *ngIf="paymentForm.get('expiration_date')?.hasError('required') && paymentForm.get('expiration_date')?.touched"
                                class="form-text text-white ms-1 fw-bold d-block">Card expiration date is required
                              </span>
                              <span
                                *ngIf="paymentForm.get('expiration_date')?.hasError('maxlength') && paymentForm.get('expiration_date')?.touched"
                                class="form-text text-white ms-1 fw-bold d-block">Card expiration date cannot be over 7 characters long
                              </span>
                              <span
                                *ngIf="paymentForm.get('expiration_date')?.hasError('pattern') && paymentForm.get('expiration_date')?.touched"
                                class="form-text text-white ms-1 fw-bold d-block">Card expiration date can only contain numbers and slash (/)                      
                              </span>
                              <!-- <label class="form-label" for="card-expiration-date">Expiration</label> -->
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-style white-input"
                                name="card-cvv"
                                formControlName="cvc"
                                placeholder="Cvc"
                              />
                              <span
                                *ngIf="paymentForm.get('cvc')?.hasError('required') && paymentForm.get('cvc')?.touched"
                                class="form-text text-white ms-1 fw-bold d-block">Card cvc is required
                              </span>
                              <span
                                *ngIf="paymentForm.get('cvc')?.hasError('minlength') && paymentForm.get('cvc')?.touched"
                                class="form-text text-white ms-1 fw-bold d-block">Card cvc must be minimum 3 characters long
                              </span>
                              <span
                                *ngIf="paymentForm.get('cvc')?.hasError('maxlength') && paymentForm.get('cvc')?.touched"
                                class="form-text text-white ms-1 fw-bold d-block">Card cvc can be maximum 5 characters long
                              </span>
                              <span
                                *ngIf="paymentForm.get('cvc')?.hasError('pattern') && paymentForm.get('cvc')?.touched"
                                class="form-text text-white ms-1 fw-bold d-block">Card cvc can only contain numbers
                              </span>
                              <!-- <label class="form-label" for="card-cvc">Cvc</label> -->
                            </div>
                          </div>
                        </div>
                        
                        <hr class="my-4">
    
                        <div class="d-flex justify-content-between">
                          <p class="mb-2">Subtotal</p>
                          <p class="mb-2">${{ cart.totalSum }}</p>
                        </div>
    
                        <div class="d-flex justify-content-between mb-4">
                          <p class="mb-2">Total(Incl. taxes)</p>
                          <p class="mb-2">${{ cart.totalSum }}</p>
                        </div>
    
                        <div 
                          class="tooltip-wrapper d-flex" 
                          matTooltip="No items in cart" 
                          matTooltipPosition="above"
                          [matTooltipDisabled]="cart && cart.items.length > 0"
                        >
                          <button type="submit" 
                            class="btn-reverse submit-form-button btn-lg mx-auto"
                            [ngClass]="{ 'disabled': cart && cart.items.length === 0 }"
                          >
                            <mat-spinner *ngIf="showSubmitButtonSpinner; else purchase" diameter="25" strokeWidth="4"></mat-spinner>
                            <ng-template #purchase>Purchase</ng-template>
                          </button>
                        </div>
  
                      </form>
  
                    </div>
                  </div>
  
                </div>
  
              </div>
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
