@import '../../styles/variables';

.shopping-cart-outer-wrapper {
  background-color: $main-dark-bg-color;

  .shopping-card-inner-wrapper {
    min-height: 600px;
    background-color: $main-orange-bg-color;

    mat-spinner { top: 180px; }

    .cart-items-column-wrapper {
      .mat-mdc-paginator {
        color: white;
        font-weight: 500;
        &::ng-deep.mat-mdc-paginator-range-label { color: $white-text; }
        &::ng-deep button .mat-mdc-paginator-icon  { fill: white; }
      }

      .cart-items-wrapper {
        height: 387px;

        .cart-item {
          color: white;
          margin-top: 0.75rem;
          background-color: inherit;
          border: none;
          transition: all 1s;

          &:hover,
          &.hovered {
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
            transition: all 1s
          }

          .cart-item-title {
            max-height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 1.25rem;
          }
          
          .cart-item-metadata-item {
            display: flex;
            align-items: center;
            gap: 2px;

            .mat-icon { width: 18px; height: 24px; }

            &[item="tier"] {
              text-transform: capitalize;
            }
            &[item="extension"] {
              text-transform: uppercase;
            }

            .vr { min-height: 12px; margin: auto 4px;  }

            &:last-child{ 
              .vr { display: none; }
            }
            
          }

          .icon-delete { color: white; cursor: pointer; }
          mat-spinner { top: 0; }
          img { width: 70px; height: 70px; }

        }
      }
    }

    .payment-column-wrapper {
      // position: relative;
      // left: 40px;
      .payment-wrapper {
        background-color: $main-orange-bg-color;
        border: 0;
        border-radius: 8px;
        box-shadow: $shadow-lifted;
        height: 100%;
        
        .form-group {
          input { padding: 0.5rem 0.75rem; }
          input::placeholder { font-size: 1rem; }
        }

        .icon-wrapper {
          display: flex;
          column-gap: 0.25rem;

          // svg not encapsulated
          &::ng-deep .mat-icon { 
            height: 100%;
            width: 60px;

            svg path { fill: unset; }
          }

          // for mastercard 
          img { 
            width: 60px; 
            border-radius: 2px;
          }
        }
      }
    }
  }

  .mat-icon {
    color: $main-dark-bg-color;
  }

  .btn {
    // border: 1px solid;
    width: 100%;
    // box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
    // background-color: $main-dark-bg-color;
    color: white;
  }

  .btn:hover {
    // box-shadow: 0 0px 20px 0 rgba(20, 20, 20, 0.2);
  }
}

/* MEDIA QUERIES */
// bigger than 976px
@media only screen and (max-width: 1200px) {

}
// bigger than 976px
@media only screen and (min-width: 976px) {
  //
}
// smaller than 992px
@media only screen and (max-width: 992px) {
  .shopping-cart-outer-wrapper .shopping-card-inner-wrapper {
    .cart-items-column-wrapper,
    .payment-column-wrapper { left: 0; }
  }
}
// smaller than 976px
@media only screen and (max-width: 976px) {

}
// smaller than 576px
@media only screen and (max-width: 576px) {
  .shopping-cart-outer-wrapper { 
    width: unset; 
    .cart-items-wrapper { 
      height: auto !important; 
      
      .cart-item {
        img { width: 100px !important; height: 100px !important; }
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);

        .cart-item-description { 
          width: 100%; 

          .cart-item-title {
            margin-top: 0.25rem; 
            margin-bottom: 1rem;
            text-align: center;
          }
        }

        .cart-item-price { 
          position: absolute; 
          right: 6px;
          bottom: 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .card-body > div:first-child {
    flex-direction: column;
    align-items: center;

    .cart-item-title { margin-bottom: 0.25rem !important; }

    .cart-item-price { 
      position: relative !important; 
      right: unset !important;
      bottom: unset !important;
      align-self: flex-end;
    }
  }
}

