@import '../../styles/variables';

.shopping-cart-outer-wrapper {
  background-color: $main-dark-bg-color;

  .shopping-card-inner-wrapper {
    background-color: $main-orange-bg-color;

    .cart-items-column-wrapper {
      // position: relative;
      // left: 20px;
      mat-spinner { top: 120px; }
      .mat-mdc-paginator {
        color: white;
        font-weight: 500;
        &::ng-deep button .mat-mdc-paginator-icon  { fill: white; }
      }

      .cart-items-wrapper {
        height: 460px;

        .cart-item {
          background-color: inherit;
          border: none;
          transition: all 1s;

          &:hover,
          &.hovered {
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
            transition: all 1s
          }

          .vr { min-height: 12px; margin: auto 2px; }
          .icon-delete { color: inherit; cursor: pointer; }
          mat-spinner { top: 0; }

        }
      }
    }

    .payment-column-wrapper {
      // position: relative;
      // left: 40px;
      .payment-wrapper {
        background-color: $main-orange-bg-color;
        border: 0;
        border-radius: 8px;
        box-shadow: $shadow-lifted;
        
        .form-group {
          input { 
            padding: 0.5rem 1rem; 
            // color: black;
          }
          input::placeholder { font-size: 1rem; }
        }

        .icon-wrapper {
          display: flex;
          column-gap: 0.25rem;

          // svg not encapsulated
          &::ng-deep .mat-icon { 
            height: 100%;
            width: 60px;

            svg path { fill: unset; }
          }

          // for mastercard 
          img { 
            width: 60px; 
            border-radius: 2px;
          }
        }


        // TODO: commented out secure payment
        // .secure-payment-wrapper {
        //   padding: 0.5rem;
        //   background-color: rgb(6, 104, 6);
        //   border-radius: 8px;
        //   display: flex;
        //   column-gap: 4px;


          // .secure-text-wrapper {
          //   line-height: 18px;
          //   margin: auto;

          //   span { 
          //     font-family: $secure-payment-font-family;
          //     color: #2fe8c9;
          //     font-weight: bold;
          //     &.secure { font-size: 1.125rem; }
          //     &.ssl { font-size: 0.875rem; }
          //   }

          // }

        // }

      }
    }
  }

  .mat-icon {
    color: $main-dark-bg-color;
  }

  .btn {
    // border: 1px solid;
    width: 100%;
    // box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
    // background-color: $main-dark-bg-color;
    color: white;
  }

  .btn:hover {
    // box-shadow: 0 0px 20px 0 rgba(20, 20, 20, 0.2);
  }
}

/* MEDIA QUERIES */
// bigger than 976px
@media only screen and (max-width: 1200px) {

}
// bigger than 976px
@media only screen and (min-width: 976px) {
  //
}
// smaller than 992px
@media only screen and (max-width: 992px) {
  .shopping-cart-outer-wrapper .shopping-card-inner-wrapper {
    .cart-items-column-wrapper,
    .payment-column-wrapper { left: 0; }
  }
}
// smaller than 976px
@media only screen and (max-width: 976px) {

}
// smaller than 576px
@media only screen and (max-width: 576px) {
  .shopping-cart-outer-wrapper { width: unset; }
}
