@import '../../styles/variables';

.shopping-card-inner-wrapper {
  height: 670px;

  .cart-items-column-wrapper {
    mat-spinner:nth-child(1) {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
    }

    .cart-items-wrapper {
      height: 416px;

      .cart-item {
        margin-top: 0.75rem;
        background-color: inherit;
        border: none;
        transition: all 1s;
        position: relative;

        &:hover,
        &.hovered {
          box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.3);
          -webkit-box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.3);
          -moz-box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.3);
          transition: all 1s
        }

        img {
          width: 70px;
          height: 70px;
          max-width: 70px; // for broken
        }

        .product-title {
          color: white;
          max-height: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: 1.25rem;
        }

        .product-price {
          color: white;
          font-size: 20px;
          font-family: $product-metadata-font;
          // TODO: on breakpoints, styles are repeated for this. No common place
          span {
            display: inline;
            text-align: right;

            &.product-old-price {
              position: relative;
              top: 0;
              left: -10px;
            }
          }
        }

        .product-metadata-item {
          align-items: center;
          gap: 2px;
          color: white;

          .mat-icon {
            height: 26px;
            ::ng-deep svg path { stroke-width: 0; }
          }
          &[item="tier"] {
            .mat-icon ::ng-deep svg path { stroke-width: 1px; }
          }
          &[item="extension"] {
            .mat-icon { transform: scale(0.9); }
          }

          span { font-size: 14px; }

          .vr { min-height: 16px; margin: auto 4px; }
          &:last-child .vr { display: none; }
        }

        .icon-delete { color: white; cursor: pointer; }
        mat-spinner { top: 0; }

      }
    }
  }

  .payment-wrapper {
    border: 0;
    border-radius: 8px;
    height: 100%;

    .paypal-note {
      font-size: 0.75rem;
      display: block;
      line-height: 20px;
      text-align: center;
    }
  }

}


/* MEDIA QUERIES */
// smaller than 1200px
@media only screen and (max-width: 1200px) {
  .product-price span {
    display: block !important;
    &.product-old-price { left: 0 !important; }
  }
}

// smaller than 992px
@media only screen and (max-width: 992px) {
  .product-price span {
    display: inline !important;
    &.product-old-price { left: -10px !important; }
  }
  .shopping-card-inner-wrapper {
    height: auto;
    min-height: 780px;
  }
}

// smaller than 768px
@media only screen and (max-width: 768px) {
  .product-price span {
    display: block !important;
    &.product-old-price { left: 0px !important; }
  }
}

// smaller than 576px
@media only screen and (max-width: 576px) {
  .cart-items-wrapper {
    height: auto !important;

    .cart-item {
      img {
        width: 100px !important;
        height: 100px !important;
        max-width: unset !important;
        min-height: 100px;
      }

      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);

      .product-metadata {
        width: 100%;

        .product-title {
          margin-top: 0.25rem;
          margin-bottom: 1rem;
          text-align: center;
          padding: 0 70px;
        }
      }

      .cart-item-price {
        position: absolute;
        right: 6px;
        bottom: 6px;

        .product-old-price { top: 8px !important; }

        &:has(.product-old-price) .mat-icon {
          position: relative;
          top: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  // NOTE: price above 99 will not look good
  .product-metadata {
    flex-direction: column;
    align-items: center;

    .product-title { margin-bottom: 0.25rem !important; }

    // targets col
    > div { justify-content: center; }
  }

  .cart-item {
    .product-title { padding: 0 16px !important; }
    &:has(.product-old-price) {
      .product-metadata-item { margin-bottom: 50px; }
    }
    &:not(:has(.product-old-price)) {
      .product-metadata-item { margin-bottom: 34px; }
    }
  }

}

