<section class="h-100" class="shopping-cart-outer-wrapper">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card shopping-card-inner-wrapper">
          <div class="card-body p-4">
            <div class="row">

              <div class="col-lg-7 cart-items-column-wrapper">
                <h5 class="mb-3">
                  <a routerLink="/products" class="d-inline-flex gap-1 dark-text text-decoration-underline">
                    <mat-icon class="rotate-180">arrow_right_alt</mat-icon>
                    <span>Continue shopping</span>
                  </a>
                </h5>
                <hr>

                <div class="d-flex justify-content-flex-start align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <span class="mb-0" *ngIf="cart">
                      You have 
                      {{ cart.items.length }}
                      <p class="d-inline" *ngIf="cart.items.length == 1">item</p>
                      <p class="d-inline" *ngIf="cart.items.length > 1" >items</p>
                      in your cart
                    </span>
                  </div>
                  <!-- <div>
                    <p class="mb-0"><span class="text-muted">Sort by:</span>
                      <a href="#!"class="text-body">
                        price
                        <mat-icon>keyboard_arrow_down</mat-icon>
                      </a>
                    </p>
                  </div> -->
                </div>

                <mat-spinner
                  *ngIf="!cart; else noSpinner"
                  diameter="50"
                  strokeWidth="5"
                  class="reverse absolute-center"
                ></mat-spinner>

                <ng-template #noSpinner>
                  <div class="cart-items-wrapper">
                    <div class="card mb-3 cart-item" *ngFor="let item of paginatedCart" [ngClass]="{'hovered' : item.spinners?.deleteSpinner}">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <div>
                              <img
                                src="{{ item.imgPath }}"
                                class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;"
                              >
                            </div>
                            <div class="ms-3">
                              <h5>{{ item.title }}</h5>
                              <div class="d-flex gap-1">
                                <p class="small mb-0">{{ item.information.downloadSize}}gb</p>
                                <div class="vr"></div>
                                <p class="small mb-0">{{ item.information.videoDuration}}h</p>
                                <div class="vr"></div>
                                <p class="small mb-0">{{ item.information.difficulty}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center gap-3">
                            <div>
                              <!-- // TODO: add original price next to discounted -->
                              <h5 class="mb-0">
                                {{ item.information.discount ? 
                                  item.information.discount.discountedPrice : item.information.price }}&nbsp;$
                              </h5>
                            </div>
                            <mat-icon 
                              *ngIf="!item.spinners?.deleteSpinner"
                              class="icon-delete" 
                              (click)="removeFromCart($event, item.id)"
                            >delete_forever
                            </mat-icon>
                            <mat-spinner
                              *ngIf="item.spinners?.deleteSpinner"
                              diameter="25"
                              strokeWidth="4"
                              class="reverse"
                            ></mat-spinner>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <mat-paginator
                    class="mt-4"
                    #paginator
                    *ngIf="cart.items.length > pageSize"
                    [length]="cart.items.length"
                    pageSize="{{ pageSize }}"
                    hidePageSize="true"
                    showFirstLastButtons="true"
                    (page)="changePage()"
                  ></mat-paginator>
                    
                </ng-template>
    

              </div>

              <div class="col-lg-5 payment-column-wrapper">

                  <div class="card text-white rounded-3 payment-wrapper">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Card details</h5>
                      <!-- TODO: commented out secure payment -->
                      <!-- <div class="secure-payment-wrapper">
                        <img src="../../../assets/images/img/secure.png"
                          class="img-fluid rounded-3" style="width: 45px;" alt="Secure payment"
                        >
                        <div class="secure-text-wrapper">
                          <span class="d-block secure">100% secure</span>
                          <span class="d-block ssl">SSL Encryption</span>
                        </div>
                      </div> -->

                      <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                        class="img-fluid rounded-3" style="width: 45px;" alt="Avatar"
                      > -->

                    </div>

                    <p class="small mb-2">Card type</p>
                    <a href="#!" type="submit" class="text-white"><i
                        class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i
                        class="fab fa-cc-visa fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i
                        class="fab fa-cc-amex fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                    <!-- <a href="#!" type="submit" class="text-white">
                      <mat-icon class="me-2">credit_card</mat-icon>
                    </a>
                    <a href="#!" type="submit" class="text-white">
                      <mat-icon class="me-2">credit_card</mat-icon>
                    </a>
                    <a href="#!" type="submit" class="text-white">
                      <mat-icon class="me-2">credit_card</mat-icon>
                    </a>
                    <a href="#!" type="submit" class="text-white">
                      <mat-icon>credit_card</mat-icon>
                    </a> -->

                    <form class="mt-4">
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                          placeholder="Cardholder's Name" />
                        <label class="form-label" for="typeName">Cardholder's Name</label>
                      </div>

                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typeText1" class="form-control form-control-lg" siez="17"
                          placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                        <label class="form-label" for="typeText1">Card Number</label>
                      </div>

                      <div class="row mb-4">
                        <div class="col-md-6">
                          <div class="form-outline form-white">
                            <input type="text" id="typeExp" class="form-control form-control-lg"
                              placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />
                            <label class="form-label" for="typeExp">Expiration</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-outline form-white">
                            <input type="password" id="typeText2" class="form-control form-control-lg"
                              placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                            <label class="form-label" for="typeText2">Cvv</label>
                          </div>
                        </div>
                      </div>

                    </form>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <p class="mb-2">$4798.00</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Shipping</p>
                      <p class="mb-2">$20.00</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total(Incl. taxes)</p>
                      <p class="mb-2">$4818.00</p>
                    </div>

                    <button type="button" class="btn-reverse d-block btn-lg mx-auto">
                      <div class="d-flex justify-content-between">
                        <span>$4818.00</span>
                        <span>Checkout <mat-icon>arrow_right_alt</mat-icon></span>
                      </div>
                    </button>

                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
