<div class="container px-0 h-100 mt-3">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <app-gradient-container>

        <div class="shopping-card-inner-wrapper">

          <h5 class="mb-3 ps-2">
            <a routerLink="/images" class="d-inline-flex gap-1 text-reset text-decoration-underline">
              <mat-icon class="white rotate-180">arrow_right_alt</mat-icon>
              <span>Continue shopping</span>
            </a>
          </h5>

          <hr>

          <!-- <mat-spinner
            *ngIf="showLoadSpinner; else content"
            diameter="50"
            strokeWidth="5"
            class="absolute-center mt-5"
          ></mat-spinner> -->

          <!-- <ng-template #content> -->
            <div class="row mb-2 position-relative">
              <div class="col-lg-7 cart-items-column-wrapper">

                <mat-spinner
                  *ngIf="showLoadSpinner; else content"
                  diameter="50"
                  strokeWidth="5"
                  class="mt-5"
                ></mat-spinner>

                <ng-template #content>

                  <div class="d-flex justify-content-flex-start align-items-center mb-2 ps-2">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                      <p>You have {{ cart.items.length }} items</p>
                    </div>

                    <!-- // TODO: sort commented out -->
                    <!-- <div>
                      <p class="mb-0"><span class="text-muted">Sort by:</span>
                        <a href="#!"class="text-body">
                          price
                          <mat-icon>keyboard_arrow_down</mat-icon>
                        </a>
                      </p>
                    </div> -->
                  </div>

                  <div class="cart-items-wrapper">
                    <div class="cart-item rounded" *ngFor="let product of getCurrentCart()" [ngClass]="{'hovered' : product.spinners.cart}">
                      <div class="p-2">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-column flex-sm-row flex-grow-1 align-items-center">
                            <div>
                              <!-- TODO: img alt -->
                              <img src="{{ product.watermarkImgPath }}" class="rounded-3" alt="Shopping item">
                            </div>
                            <div class="product-metadata ms-0 ms-sm-3">
                              <h5 class="product-title">{{ product.title }}</h5>
                              <div class="d-flex gap-1 align-items-center">

                                <ng-container *ngFor="let metadata of product.metadataIconMap | keyvalue: keepOrder">
                                  <div
                                    *ngIf="config.product.metadata.includes(metadata.key)"
                                    class="product-metadata-item"
                                    [attr.item]="metadata.key"
                                  >

                                    <!-- bug with material icons displaying same for all -->
                                    <ng-container *ngIf="metadata.key !== 'tier'; else Tier">
                                      <mat-icon class="white" [svgIcon]="metadata.value.type === 'custom' ? metadata.value.iconName : ''">
                                        {{ metadata.value.type === 'custom' ? '' : metadata.value.iconName  }}
                                      </mat-icon>
                                    </ng-container>

                                    <ng-template #Tier>
                                      <mat-icon class="{{metadata.value.iconName}}"></mat-icon>
                                    </ng-template>

                                    <span class="mb-0">{{ product.metadata[metadata.key] }}</span>
                                    <div class="vr"></div>

                                  </div>
                                </ng-container>

                              </div>
                            </div>
                          </div>
                          <div class="cart-item-price d-flex flex-row align-items-center gap-2 gap-sm-3">
                            <div>
                              <!-- dollar character may not show properly if h5 changed because of font family -->
                              <p class="product-price mb-0">
                                <span *ngIf="product.discount > 0" class="product-old-price">{{ product.price | number : '1.2-2' }}&nbsp;$</span>
                                <span>{{ utilService.getProductPrice(product) }}&nbsp;$</span>
                              </p>
                            </div>
                            <mat-icon
                              *ngIf="!product.spinners.cart"
                              class="icon-delete white"
                              (click)="removeFromCart(product)"
                            >delete_forever
                            </mat-icon>
                            <mat-spinner
                              *ngIf="product.spinners.cart"
                              diameter="25"
                              strokeWidth="4"
                            ></mat-spinner>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <mat-paginator
                    #paginator
                    *ngIf="screenSize !== 'xs' && cart.items.length > pageSize"
                    class="mt-1"
                    [length]="cart.items.length"
                    pageSize="{{ pageSize }}"
                    hidePageSize="true"
                    showFirstLastButtons="true"
                    (page)="changePage()"
                  ></mat-paginator>

                </ng-template>

              </div>

              <div class="col-lg-5 mt-4" [ngStyle]="{'opacity': showPaymentButtons ? 1 : 0}">
                <app-gradient-container variant="colored">
                  <div class="text-white rounded-3 payment-wrapper">

                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h5 class="mb-0 mx-auto">Payment</h5>
                    </div>

                    <!-- <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total</p>
                      <p class="mb-2" *ngIf="showPaymentButtons">${{ cart.totalSum | number : '1.2-2' }}</p>
                    </div> -->

                    <div class="d-flex justify-content-center mb-3">
                      <p class="mb-2 me-2">Total:</p>
                      <p class="mb-2" *ngIf="showPaymentButtons">{{ cart.totalSum | number : '1.2-2' }}&nbsp;$</p>
                    </div>

                    <div id="paypalButtonsContainer"></div>

                    <span class="paypal-note">
                      Note: Payment processing is powered by PayPal for a secure and seamless transaction experience.
                      For more information see <a href="https://www.paypal.com/webapps/mpp/buyer-protection" target="_blank">buyer protection</a>.
                    </span>

                  </div>
                </app-gradient-container>
              </div>

            </div>
          <!-- </ng-template> -->

        </div>

      </app-gradient-container>
    </div>
  </div>
</div>
