@import '../../../styles/variables.scss';

a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover { text-decoration: none; }
.link { color: $dark-text; }
.link:hover { color: black; }
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 { font-weight: 600; }
h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
button[type="submit"] {
  width: 110px;
  height: 44px;
}

.form-group.gender:has(input.ng-invalid.ng-touched),
.form-group.gender .form-style:has(input.ng-invalid.ng-touched) {
  box-shadow: $error-inset;
  -webkit-box-shadow: $error-inset;
  -moz-box-shadow: $error-inset;

  .mat-icon,
    & ~ .mat-icon {
      color: $error-color; 
      svg path { fill: $error-color; }
    }
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.slider-checkbox:checked,
.slider-checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.slider-checkbox:checked + label,
.slider-checkbox:not(:checked) + label {
  position: relative;
  display: block;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  margin: 10px auto;
  cursor: pointer;
  background-color: $main-orange-bg-color;
}
.slider-checkbox:checked + label:before,
.slider-checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $main-dark-bg-color;
  border: 1px solid white;
  content: '';
  z-index: 20;
  top: -4px;
  left: -4px;
  transition: all 0.5s ease;
}
.slider-checkbox:checked + label:before {
  transform: translateX(44px);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  min-height: 420px;
  height: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin-top: 40px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front, .card-back {
  width: 100%;
  height: auto;
  background-color: $main-orange-bg-color;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back { transform: rotateY(180deg); }
.slider-checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap {
  position: relative;
  width: 100%;
  padding: 2rem 3rem;
  left: 0;
  z-index: 20;
}

.form-group.gender {
  border-radius: 0.25rem;

  input[type="radio"] {
    display: none;
    visibility: hidden;
  }

  .check {
    cursor: pointer;
    position: relative;
  }
  .check svg {
    position: relative;
    top: -2px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $main-orange-bg-color;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  .check:hover svg {
    stroke: $main-orange-bg-color;
  }
  input[type="radio"]:checked + .check svg {
    stroke: $main-orange-bg-color;
  }
  input[type="radio"]:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  input[type="radio"]:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
}

input[type="password"] { padding-right: 55px; }

// smaller than 576px 
@media only screen and (max-width: 576px) {
  .center-wrap { padding: 3rem 1rem; }
}
