<!-- <div class="product-buying-steps d-flex flex-center mt-4">
  <ng-container *ngFor="let step of buyingSteps; let i = index">
    <div class="buying-step flex-center flex-column position-relative main-orange-bg rounded h-100">
      <mat-icon>{{ step.icon }}</mat-icon>
      <span class="fw-bold">{{ step.name }}</span>
    </div>
    <mat-icon
      *ngIf="i < buyingSteps.length - 1"
      svgIcon="next-step"
      class="next-step-icon"
    ></mat-icon>
  </ng-container>
</div> -->
<div class="product-page-top-section-wrapper mx-auto my-4 d-flex align-items-center text-center rounded overflow-hidden">
  <div class="text-section w-60 px-2">
    <h2>Shop All</h2>
    <p>
      Everything you need is here! 
      From scalp to ends, 
      you'll find the perfect solution for a 
      good hair day.
    </p>
  </div>
  <div class="img-section w-40 h-100">img</div>
</div>
