
<section class="top-section">
  <div class="container-fluid px-6 h-100">
    <div class="row position-relative h-100">
      <div class="col-12 col-md-5 d-flex justify-content-center justify-content-md-end align-items-center">
        <div class="landing-text-wrapper">
          <h1 class="glow-text">
            <span
              class="d-block"
              appear
              [hide]="{'opacity': 0, 'transform': 'translateY(-20px)'}"
              [show]="{'opacity': 1, 'transform': 'translateY(0px)'}"
              [duration]="300"
              [runOnMobile]="true"
              [delay]="300"
            >
              Best
            </span>
            <span
              class="d-block"
              appear
              [hide]="{'opacity': 0, 'transform': 'translateX(-20px)'}"
              [show]="{'opacity': 1, 'transform': 'translateX(0px)'}"
              [duration]="300"
              [runOnMobile]="true"
              [delay]="600"
            >
              AI
            </span>
            <span
              class="d-block"
              appear
              [hide]="{'opacity': 0, 'transform': 'translateY(20px)'}"
              [show]="{'opacity': 1, 'transform': 'translateY(0px)'}"
              [duration]="300"
              [runOnMobile]="true"
              [delay]="900"
            >images</span>
          </h1>
          <div
            class="d-flex flex-column"
            appear
            [duration]="500"
            [runOnMobile]="true"
            [delay]="1200"
            (intersection)="highlightCTA(cta)"
          >
            <p>Welcome to the future</p>
            <a class="cta-button large-screen" routerLink="/images" #cta>
              <div class="inner-wrapper">Explore now</div>
              <mat-icon svgIcon="double-arrow-right" class="dark"></mat-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7 d-md-flex align-items-md-center">
        <!-- NOTE: directive hides flick (cls) -->
        <img
          src="../../../assets/images/landing-image.png"
          alt="AI robot head that glows in purple"
          class="img-fluid pe-none landing-image"
          appear
          [hide]="{'opacity': 0, 'transform': 'scale(1.1)' }"
          [show]="{'opacity': 1, 'transform': 'scale(1)'   }"
          [duration]="1000"
          [runOnMobile]="true"
          [easing]="'ease-in-out'"
          [delay]="600"
        >
        <a class="cta-button small-screen highlighted mx-auto" routerLink="/images" #cta
          appear
          [duration]="500"
          [runOnMobile]="true"
          [delay]="1200"
        >
          <div class="inner-wrapper">Explore now</div>
          <mat-icon svgIcon="double-arrow-right" class="dark"></mat-icon>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="table-of-contents-section" scrollSpy (sectionChange)="activeSection = $event">
  <div class="container-fluid px-3 px-md-5">
    <div class="row justify-content-center">
      <div class="col-md-2 d-none d-lg-block">
        <div class="table-of-contents-wrapper">
          <div class="list-group" #toc>
            <a class="list-group-item" [ngClass]="{'active': activeSection === 'Introduction'}" href="#Introduction"
               pageScroll [pageScrollOffset]="150" [pageScrollAdjustHash]="true" [pageScrollDuration]="1000" [pageScrollEasing]="sectionScrollEasing"
            >Introduction</a>
            <a class="list-group-item" [ngClass]="{'active': activeSection === 'HowItWorks'}" href="#HowItWorks"
               pageScroll [pageScrollOffset]="120" [pageScrollAdjustHash]="true" [pageScrollDuration]="1000" [pageScrollEasing]="sectionScrollEasing"
            >How it works?</a>
            <a class="list-group-item" [ngClass]="{'active': activeSection === 'WhyUs'}" href="#WhyUs"
               pageScroll [pageScrollOffset]="80" [pageScrollAdjustHash]="true" [pageScrollDuration]="1000" [pageScrollEasing]="sectionScrollEasing"
            >4 Why's?</a>
            <a class="list-group-item" [ngClass]="{'active': activeSection === 'MostPopular'}" href="#MostPopular"
              pageScroll [pageScrollOffset]="140" [pageScrollAdjustHash]="true" [pageScrollDuration]="1000" [pageScrollEasing]="sectionScrollEasing"
            >Most popular</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 ps-md-5">
        <section id="Introduction">
          <div class="container px-0 px-sm-4">
            <h2>What is <br> EverydayAI</h2>
            <div class="about-us-items row gx-4">
              <div class="col-12 col-md-6 col-xl-4 mx-auto mx-sm-none mb-5 px-2"
                appear [hide]="{'opacity': 0, 'transform': 'translateY(30px)'}" [show]="{'opacity': 1, 'transform': 'none'}"
              >
                <app-gradient-container>
                  <mat-icon svgIcon="everyday-life"></mat-icon>
                  <p class="about-us-items-title">AI in everyday life</p>
                  <p class="about-us-items-text mb-0">
                    Stay up to date with latest advancements in AI and continiously discover new ways of using it in your daily activities.
                  </p>
                </app-gradient-container>
              </div>
              <div class="col-12 col-md-6 col-xl-4 mx-auto mx-sm-none mb-5 px-2"
                appear [hide]="{'opacity': 0, 'transform': 'translateY(30px)'}" [show]="{'opacity': 1, 'transform': 'none'}"
              >
                <app-gradient-container>
                  <mat-icon svgIcon="collaboration"></mat-icon>
                  <p class="about-us-items-title">Global collaboration</p>
                  <p class="about-us-items-text mb-0">
                    Share ideas and facilitate connections with professionals, researchers, and enthusiasts worldwide.
                  </p>
                </app-gradient-container>
              </div>
              <div class="col-12 col-md-6 col-xl-4 mx-auto mx-sm-none mb-5 px-2"
                appear [hide]="{'opacity': 0, 'transform': 'translateY(30px)'}" [show]="{'opacity': 1, 'transform': 'none'}"
              >
                <app-gradient-container>
                  <mat-icon svgIcon="expectance"></mat-icon>
                  <p class="about-us-items-title">The expectation</p>
                  <p class="about-us-items-text mb-0">We expect things from AI, but does it expect something from us? Look how it's looking at you.</p>
                </app-gradient-container>
              </div>
            </div>
          </div>
        </section>

        <section id="HowItWorks">
          <div class="container">
            <h2>How it works?</h2>
            <ol class="step-list">
              <li class="step-list__item">
                <div class="step-list__item__inner">
                  <div class="content">
                    <div class="body">
                      <p class="step-item-title">Explore</p>
                      <p>Take a look around.</p>
                    </div>
                    <div class="icon-wrapper">
                      <div class="icon-shadow" appear [threshold]="1" [duration]="1200"></div>
                      <mat-icon>search</mat-icon>
                    </div>
                  </div>
                </div>
              </li>
              <li class="step-list__item">
                <div class="step-list__item__inner">
                  <div class="content">
                    <div class="body">
                      <p class="step-item-title">Follow us on <span class="glow-text">instagram</span></p>
                      <p>Stay up to date with latest news and events in the world of AI.</p>
                    </div>
                    <div class="icon-wrapper">
                      <div class="icon-shadow" appear [threshold]="1" [duration]="1200"></div>
                      <mat-icon>favorite_border</mat-icon>
                    </div>
                  </div>
                </div>
              </li>
              <li class="step-list__item">
                <div class="step-list__item__inner">
                  <div class="content">
                    <div class="body">
                      <p class="step-item-title">Share ideas.</p>
                      <p>Don't be just an observer. Make an impact on the collaborative growth and development of AI.</p>
                    </div>
                    <div class="icon-wrapper">
                      <div class="icon-shadow" appear [threshold]="1" [duration]="1200"></div>
                      <mat-icon svgIcon="lightbulb"></mat-icon>
                    </div>
                  </div>
                </div>
              </li>
              <li class="step-list__item">
                <div class="step-list__item__inner">
                  <div class="content">
                    <div class="body">
                      <p class="step-item-title">Have fun</p>
                      <p>Remember to infuse a bit of fun into the mix.</p>
                    </div>
                    <div class="icon-wrapper">
                      <div class="icon-shadow" appear [threshold]="1" [duration]="1200"></div>
                      <mat-icon svgIcon="confetti"></mat-icon>
                    </div>
                  </div>
                </div>
              </li>
              <li class="step-list__item">
                <div class="step-list__item__inner">
                  <div class="content">
                    <div class="body">
                      <p class="step-item-title">Support</p>
                      <p>
                        Support the cause.
                        In return your get image that you can us as wallpaper or any device, for your projects or even print it and hang it on your wall!
                        Everything you buy stays with you forever!
                      </p>
                    </div>
                    <div class="icon-wrapper">
                      <div class="icon-shadow" appear [threshold]="1" [duration]="1200"></div>
                      <mat-icon svgIcon="payment" [ngStyle]="{'height': '25px'}"></mat-icon>
                    </div>
                  </div>
                </div>
              </li>
              <li class="step-list__item">
                <div class="step-list__item__inner">
                  <div class="content">
                    <div class="body">
                      <p class="step-item-title">To eternity and beyond</p>
                      <p>To be continued...</p>
                    </div>
                    <div class="icon-wrapper">
                      <div class="icon-shadow" appear [threshold]="1" [duration]="1200"></div>
                      <mat-icon>all_inclusive</mat-icon>
                    </div>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </section>

        <section id="WhyUs">
          <div class="container overflow-hidden">
            <h2>4 Why's</h2>
            <div class="questionmark-wrapper" #questionmark>
              <span>?</span>
            </div>
            <div class="row justify-content-between">
              <div class="col-lg-6 col-xl-5 mb-sm-5">
                <div class="why-us-item bottom-right-border"
                  appear [hide]="{'opacity': 0, 'transform': 'translate(100px, 100px)'}" [show]="{'opacity': 1, 'transform': 'none'}" [duration]="2000" easing="ease"
                >
                  <p class="why-us-item-header">Real-world impact</p>
                  <p>
                    In the dawn of the digital age, the technology erupts quickly.
                    Improve overall quality of your work and 10x your productivity by using AI to your advantage.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-xl-5 mb-sm-5">
                <div class="why-us-item bottom-left-border"
                  appear [hide]="{'opacity': 0, 'transform': 'translate(-100px, 100px)'}" [show]="{'opacity': 1, 'transform': 'none'}" [duration]="2000" easing="ease"
                >
                  <p class="why-us-item-header">Value oriented</p>
                  <p>
                    Seize the opportunity to connect, learn, and contribute to a community that
                    values not only the technology but also the profound impact it can have on our world.
                  </p>
                </div>
              </div>
            </div>
            <div class="row justify-content-between top-spacing">
              <div class="col-lg-6 col-xl-5 mb-sm-5">
                <div class="why-us-item top-right-border"
                  appear [hide]="{'opacity': 0, 'transform': 'translate(100px, -100px)'}" [show]="{'opacity': 1, 'transform': 'none'}" [duration]="2000" easing="ease"
                >
                  <p class="why-us-item-header">Future proof</p>
                  <p>
                    AI is here to stay. Not only that, it shall evolve into something even bigger.
                    Let's give a shape to the upcoming future together.
                    <!-- Let's pave a way for next revolutionary advancements. Let's shape a future together. -->
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-xl-5 mb-sm-5">
                <div class="why-us-item top-left-border"
                  appear [hide]="{'opacity': 0, 'transform': 'translate(-100px, -100px)'}" [show]="{'opacity': 1, 'transform': 'none'}" [duration]="2000" easing="ease"
                >
                  <p class="why-us-item-header">Purpose driven</p>
                  <p>
                    A commitment to infuse intentionality into every innovation, ensuring that technology serves not only as a tool
                    but as a catalyst for positive change.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="MostPopular">
          <div class="container">
            <div class="row">

              <div class="col-md-12 col-lg-3 mb-5 mb-lg-0" appear>
                <!-- <p class="most-popular-title mb-4">Crafted with excellent material, the AI material.</p>
                <p class="mb-4">The people's choice. Most liked images by others.</p> -->
                <p class="most-popular-title mb-4 text-center">The people's choice. Most popular.</p>
                <p class="mb-4 text-center"><i>"Crafted with excellent material, the AI material"</i></p>
                <a class="btn w-100 more-images-link" routerLink="/images">More images</a>
              </div>

              <mat-spinner
                *ngIf="!ourPicksLoaded; else ourPicks"
                class="p-0 mx-auto align-self-center"
                diameter="48"
                strokeWidth="6"
              ></mat-spinner>

              <ng-template #ourPicks>

                <div *ngIf="ourPicksError" class="text-center align-self-center" [ngStyle]="{ flex: 1, height: '48px' }">
                  Failed to load. Please refresh the page.
                </div>

                <ng-container *ngIf="!ourPicksError">
                  <div
                    *ngFor="let product of ourPicksProducts; let i = index"
                    class="col-12 col-md-4 col-lg-3 my-5 my-md-0 d-flex justify-content-center align-items-end"
                    appear [hide]="{'opacity': 0, 'transform': 'translateY(-20px)'}" [show]="{'opacity': 1, 'transform': 'none'}" [duration]="300"
                  >
                    <a class="product-item highlighted text-reset text-decoration-none" [routerLink]="'/images/' + product.id" target="_blank">
                      <div class="position-relative mx-auto fit-content">
                        <div *ngIf="product.isInCart && product.price !== 0 && !user?.ownedItems?.includes(product.id)" class="in-cart-indicator">
                          <app-gradient-container padding="0.25rem 0.25rem 0 0.25rem">
                            <mat-icon class="white">shopping_cart</mat-icon>
                          </app-gradient-container>
                        </div>
                        <img src="{{ product.watermarkImgPath }}" (error)="handleProductImgLoadError($event)" class="img-fluid" alt="{{ product.description }}">
                      </div>
                      <p class="product-item-title">{{ product.title }}</p>
                      <div class="product-item-likes flex-center gap-1">
                        <mat-icon class="white">favorite</mat-icon>
                        <strong>{{ product.likes | format }}</strong>
                      </div>
                      <strong class="product-price">
                        <span *ngIf="user?.ownedItems?.includes(product.id); else price">Owned</span>
                        <ng-template #price>
                          <div *ngIf="product.discount > 0">
                            <div *ngIf="product.discount < 100" class="d-flex justify-content-center">
                              <span class="product-old-price reposition flex-center gap-1">
                                {{ product.price | number : '1.2-2' }} <mat-icon svgIcon="dollar"></mat-icon>
                              </span>
                              <span class="product-discounted-price reposition flex-center gap-1">
                                {{ utilService.getProductPrice(product) }} <mat-icon svgIcon="dollar"></mat-icon>
                              </span>
                            </div>
                            <div *ngIf="product.discount === 100" class="d-flex justify-content-center">
                              <span class="product-old-price flex-center gap-1">
                                {{ product.price | number : '1.2-2' }} <mat-icon svgIcon="dollar"></mat-icon>
                              </span>
                              <span>Free</span>
                            </div>
                          </div>
                          <div *ngIf="product.discount === 0">
                            <span *ngIf="product.price !== 0" class="flex-center gap-1 reposition">
                              {{ product.price | number : '1.2-2' }} <mat-icon svgIcon="dollar"></mat-icon>
                            </span>
                            <span *ngIf="product.price === 0">Free</span>
                          </div>
                        </ng-template>
                      </strong>
                      <button (click)="$event.preventDefault()">
                        <mat-spinner diameter="22" class="black mx-auto" *ngIf="product.spinners['cart']; else action"></mat-spinner>
                        <ng-template #action>
                          <!-- TODO: site lags on download -->
                          <mat-icon class="download black"
                            *ngIf="product.price === 0 || product.discount === 100 || user?.ownedItems?.includes(product.id); else cartAction"
                            (click)="productService.download(product)"
                          >download</mat-icon>
                          <ng-template #cartAction>
                            <mat-icon svgIcon="cart-add" class="cart-action black" *ngIf="!product.isInCart" (click)="productService.addToCart(product); $event.preventDefault()"></mat-icon>
                            <mat-icon svgIcon="cart-remove" class="cart-action black" *ngIf="product.isInCart" (click)="productService.removeFromCart(product); $event.preventDefault()"></mat-icon>
                          </ng-template>
                        </ng-template>
                      </button>
                    </a>
                  </div>
                </ng-container>

              </ng-template>

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="lets-talk-about-your-ai-section position-relative">
  <img src="../../../assets/images/contact-us-image.png" alt="robot hands holding a phone that displays text message" loading="lazy" class="robot-hands">
  <div class="text user-select-none" appear addClass="animate" [threshold]="0.1" [runOnMobile]="true">
    <div class="typewriter-wrapper">
      <span class="d-block">Lets talk about</span>
      <span class="d-block">your AI</span>
    </div>
    <div class="flex-center gap-4 gap-sm-3" appear [delay]="3200" [threshold]="0.1" [runOnMobile]="true">
      <mat-icon svgIcon="instagram" class="white"></mat-icon>
      <a href="mailto: everyday-ai.online@gmail.com" class="text-reset text-decoration-none">
        <mat-icon svgIcon="email" class="white"></mat-icon>
      </a>
    </div>
  </div>
</section>
