@import '../../styles/variables';

h1 {
  font-size: 80px;
  line-height: 80px;
}

h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.top-section {
  height: $viewport-height-without-header;

  .landing-text-wrapper {
    text-align: right;
    padding-right: 1rem;

    p {
      margin-top: 2rem;
      color: white;
      line-height: 30px;
      font-weight: 500;
      font-size: 20px;
      z-index: 1;
      transition: all 1s ease;
    }

  }

  .landing-image {
    width: 510px;
    margin-left: 8rem;
    // because it increases parent height
    position: absolute;
  }

  .cta-button {
    $button-width: 195px;
    width: $button-width;
    font-family: $space-font;
    position: relative;
    padding: 0.1rem;
    font-size: 16px;
    left: 40px;
    background-image: $gradient;
    color: white;
    align-self: flex-end;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;

    .inner-wrapper {
      color: white;
      border-radius: inherit;
      background-color: black;
      padding: 0.1rem 0.75rem 0.25rem 0.75rem;
      z-index: 2;
      width: 100%;
      transition: 0.25s ease-in-out;
      position: relative;
      z-index: 2;
    }

    .mat-icon {
      position: absolute;
      right: 0;
      top: 3px;
      width: 20px;
      margin: 0 0.25rem;
      z-index: 1;
    }

    &.highlighted {
      .inner-wrapper { width: calc($button-width - 28px); }
    }
  }

  .cta-button.small-screen { display: none; }

}

.table-of-contents-section {
  padding-top: 7.5rem;

  .table-of-contents-wrapper {
    position: sticky;
    top: 140px;

    .list-group {
      transition: 0.3s ease-in;
      opacity: 0;
      padding: 2px;

      &.show { opacity: 1; }

      a {
        font-family: $space-font;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        z-index: 1;
        width: 100%;
        display: block;
        background-color: transparent;
        color: white;
        border: 0;
        padding: 0.25rem 0;

        &.active {
          text-shadow:
            -2px -2px 3px $gradient-start,
             2px -2px 3px $gradient-start,
            -2px  2px 3px $gradient-end,
             2px  2px 3px $gradient-end;
        }
      }
    }
  }

  #Introduction {
    margin-top: 2rem;
    text-align: center;

    .about-us-items {

      > div {
        max-width: 360px;
      }

      &-title {
        font-family: $space-font;
        font-size: 20px;
      }

      ::ng-deep .mat-icon {
        width: 100px;
        height: 100px;

        &[svgIcon="collaboration"] { transform: scale(0.9); }
        &[svgIcon="expectance"] {
          position: relative;
          top: 1px;
          transform: scale(1.5);
         }

      }
    }
  }

  #HowItWorks {
    margin-top: 16rem;

    @mixin breakpoint($point) {
      @if $point == big {
        @media screen and (min-width: 601px) { @content; }
      }
      @else if $point == small {
        @media screen and (max-width: 600px) { @content; }
      }
    }


    $connectorHeight: 42px;
    $connectorBorderWidth: 1px;
    $connectorBorderColor: white;

    $circleSizeSmall: 36px;
    $circlePaddingSmall: 0px;

    $circleSizeLarge: 174px;
    $circlePaddingLarge: 48px;

    .step-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .step-list__item {
      counter-increment: step-counter;
      position: relative;

      &:before {
        content: counter(step-counter);
        background: -webkit-linear-gradient($gradient-start, $gradient-end);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 300;
        color: $connectorBorderColor;
        font-family: $space-font;
      }

      .step-item-title {
        font-family: $space-font;
        font-size: 24px;
        line-height: 30px;
      }

      .icon-wrapper {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-dark-bg-color;
        position: relative;

        .icon-shadow {
          content: '';
          width: 100%;
          height: 100%;
          box-shadow: 0 0px 20px white;
          -webkit-box-shadow: 0 0px 20px white;
          -moz-box-shadow: 0 0px 20px white;

          position: absolute;
          border-radius: 50%;
        }

        .mat-icon {
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: scale(4);

          &[svgIcon="lightbulb"] { transform: scale(2); }
          &[svgIcon="confetti"] { transform: scale(2); }
        }

      }

      .content {
        display: flex;
        flex-direction: row;
        padding-bottom: 18px;
      }

      .body {
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
      }

      &:nth-child(odd) .content { justify-content: flex-start; }
      &:nth-child(even) .content { justify-content: flex-end; }

      &:first-child > .step-list__item__inner::before,
      &:last-child > .step-list__item__inner::after { content: none; }

      & + li {
        margin-top: $connectorHeight * 2;
        & > div { margin-top: -$connectorBorderWidth; }
      }

      @include breakpoint(small) {
        display: flex;

        height: 125px;

        & + li { margin-top: $connectorHeight; }

        &:first-child:before {
          left: -2px;
          margin-right: 1.5rem;
        }

        &:before {
          content: counter(step-counter);
          position: relative;
          font-size: 36px;
          line-height: 26px;
          margin-right: 12px;
          position: relative;
          left: -8px;
        }

        .icon-wrapper {
          order: 0;
          width: $circleSizeSmall;
          height: $circleSizeSmall;
          padding: $circlePaddingSmall;
          position: absolute;
          left: -9px;
          top: 42px;

          .icon-shadow { display: none; }
          .mat-icon {
            transform: scale(1);
            &[svgIcon="lightbulb"] { transform: scale(0.8); }
            &[svgIcon="confetti"] { transform: scale(0.8); }
          }
        }

        .content {
          align-items: flex-start;

          &:before {
            content: '';
            position: absolute;
            border-left: $connectorBorderColor;
            height: 75px;
            left: 9px;
            bottom: 0;
            display: block;
            width: 1px;
            background: $connectorBorderColor;
            top: 84px;
          }
        }

        .body {
          order: 1;
          margin-top: 8px;
          margin-left: 12px;
        }

        &:last-child .content::before { content: none; }
      }

      @include breakpoint(big) {
        &:before {
          content: counter(step-counter);
          position: absolute;
          font-size: 90px;
          line-height: 1;
          font-weight: 300;
          color: #d8d8d8;
        }

        .icon-wrapper {
          width: $circleSizeLarge;
          height: $circleSizeLarge;
          padding: $circlePaddingLarge;
        }

        .body {
          flex: 0 1 33.3333%;
          margin-top: $connectorHeight * 2;
        }

        .content { align-items: flex-end; }

        > .step-list__item__inner {
          position: relative;
            &:before,
            &:after {
              border-width: 0px;
              border-style: solid;
              border-color: $connectorBorderColor;
              display: block;
              content: '';
              position: absolute;
              height: $connectorHeight;
              width: calc( 33.3333% - #{$connectorHeight} );
            }


        }

        &:nth-child(odd) {
          > .step-list__item__inner {
            text-align: right;
            &:before,
            &:after {
              border-left-width: $connectorBorderWidth;
              left: calc( 33.3333% - #{calc($connectorHeight / 2)} );
            }
            &:before {
              border-top-width: $connectorBorderWidth;
              border-top-left-radius: $connectorHeight;
              margin-top: -$connectorHeight;
              z-index: -1;
            }
            &:after {
              border-bottom-width: $connectorBorderWidth;
              border-bottom-left-radius: $connectorHeight;
              margin-bottom: -$connectorHeight;
              z-index: -1;
            }
          }

          &:before {
            left: 0;
            margin-left: 33.3333%;
            transform: translateX(-100%);
          }

          .icon-wrapper { margin-left: 72px; }
        }

        &:nth-child(even) {
          > .step-list__item__inner {
            &:before,
            &:after {
              border-right-width: $connectorBorderWidth;
              right: calc( 33.3333% - #{calc($connectorHeight / 2)} );
            }
            &:before {
              border-top-width: $connectorBorderWidth;
              border-top-right-radius: $connectorHeight;
              margin-top: -$connectorHeight;
              z-index: -1;
            }
            &:after {
              border-bottom-width: $connectorBorderWidth;
              border-bottom-right-radius: $connectorHeight;
              margin-bottom: -$connectorHeight;
              z-index: -1;
            }
          }

          &:before {
            right: 0;
            margin-right: 33.3333%;
            transform: translateX(100%);
          }

          .icon-wrapper { margin-right: 72px; }
          .body { order: 1; }
        }

      }
    }
  }

  #WhyUs {
    margin-top: 6rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    position: relative;

    .questionmark-wrapper {
      font-family: $space-font;
      font-size: 150px;
      position: absolute;
      border-radius: 50%;
      width: 250px;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 50%;
      top: 50%;
      transform: translate(-54%, -25%);
      background: -webkit-linear-gradient($gradient-start, $gradient-end);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &.animate { animation: MoveUpDown 3s linear infinite; }

      @keyframes MoveUpDown {
        0%, 100% { bottom: 0; }
        50%      { bottom: 40px; }
      }


      // TODO: decide and remove
      @keyframes MoveUpDown {
        // 0%, 100% {
        //   top: 48%;
        //   box-shadow: 0px 0 20px 0 #000,
        //   0 10px 20px 0px $gradient-start,
        //   0 -10px 20px 0px $gradient-end,
        // }
        // 50% {
        //   top: 52%;
        //   box-shadow: none;
        // }

        // 0%, 100% {
        //   top: 48%;
        //   box-shadow: 0px 0 20px 0 #000,
        //   0 10px 10px 0px $gradient-start,
        //   0 10px 10px 0px $gradient-end,
        // }
        // 50% {
        //   top: 52%;
        //   box-shadow: 0px 0px 20px 0 #000,
        //   0 -10px 10px 0px $gradient-start,
        //   0 -10px 10px 0px $gradient-end,
        // }

        0%, 100% {
          top: 45%;
          box-shadow: 0 0 20px 0 #000,
          0 30px 5px 0 $gradient-start,
          0 60px 5px 0 $gradient-end;
          -webkit-box-shadow: 0 0 20px 0 #000,
          0 30px 5px 0 $gradient-start,
          0 60px 5px 0 $gradient-end;
          -moz-box-shadow: 0 0 20px 0 #000,
          0 30px 5px 0 $gradient-start,
          0 60px 5px 0 $gradient-end;
        }
        50% {
          top: 52%;
          box-shadow: none;
        }
      }
    }

    .why-us-item {
      position: relative;

      &-header {
        font-family: $space-font;
        font-size: 22px;
      }

      &::after {
        position: absolute;
        width: 180px;
        height: 50px;
        content: "";
        // NOTE: disables below borders - visible on small
        border-width: 0 !important;
      }

      &.bottom-right-border {
        padding-bottom: 2rem;
        padding-right: 2rem;
        text-align: right;
        &::after {
          bottom: 0;
          right: 0;
          border-bottom: 3px solid;
          border-right: 3px solid;
          border-image: $gradient-reverse 1;
          transform: skew(0deg, -15deg);
        }
      }
      &.bottom-left-border {
        padding-bottom: 2rem;
        padding-left: 2rem;
        &::after {
          bottom: 0;
          left: 0;
          border-bottom: 3px solid;
          border-left: 3px solid;
          border-image: $gradient 1;
          transform: skew(0deg, 15deg);
        }
      }
      &.top-right-border {
        padding-top: 2rem;
        padding-right: 2rem;
        text-align: right;
        &::after {
          top: 0;
          right: 0;
          border-top: 3px solid;
          border-right: 3px solid;
          border-image: $gradient-reverse 1;
          transform: skew(0deg, 15deg);
        }
      }
      &.top-left-border {
        padding-top: 2rem;
        padding-left: 2rem;
        &::after {
          top: 0;
          left: 0;
          border-top: 3px solid;
          border-left: 3px solid;
          border-image: $gradient 1;
          transform: skew(0deg, -15deg);
        }
      }

    }

    .row.top-spacing { margin-top: 150px; }

  }

  #MostPopular {
    margin-top: 6rem;
    min-height: 540px;
    color: white;
    padding-top: 4rem;
    border-top: 12px solid;
    border-bottom: 12px solid;
    border-image: $gradient 1;

    .most-popular-title {
      font-family: $space-font;
      font-size: 32px;
    }

    .product-item {
      display: block;
      text-align: center;
      position: relative;
      padding-bottom: 50px;
      flex: 1;

      $transition: .3s all ease;

      .in-cart-indicator { transition: $transition; }

      // TODO: for images to be centrally aligned with each other wrap img with this
      // looks better without, recheck and cleanup
      .img-wrapper {
        height: 66%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-title { font-family: $space-font; }

      &-likes {
        position: relative;
        z-index: 1;
        .mat-icon {
          -webkit-text-fill-color: unset;
          transition: $transition;
        }
      }

      .product-price {
        display: block;
        margin-top: 0.25rem;
        .mat-icon {
          position: relative;
          top: 1px;
          ::ng-deep svg path {
            transition: $transition;
            transform: scale(1.15);
            fill: white;
          }
        }
        .product-old-price {
          position: relative;
          top: 0;
          &::after { width: 87% }
        }
        .product-discounted-price { top: 0; }

        // reposition class exists because dollar svg width bigger than content
        .reposition {
          position: relative;
          left: 6px;
        }
      }

      img {
        max-width: 250px;
        max-height: 250px;
        margin-bottom: 20px;
        position: relative;
        top: 0;
        transition: $transition;
      }
      strong {
        font-weight: 800;
        font-size: 18px;
      }
      strong, p {
        text-decoration: none;
        position: relative;
        z-index: 1;
        transition: $transition;
      }
      button {
        border: none;
        position: absolute;
        width: 50px;
        height: 50px;
        background: $toast-green-bg-color;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: -17.5px;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        .mat-icon {
          position: relative;
          &.download { transform: scale(1.4); top: 4px; }
          &.cart-action { transform: scale(1.3); top: 0px; }
        }
      }
      &:before {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        content: "";
        background-image: $gradient;
        height: 0%;
        transition: $transition;
      }
      &:hover {
        .in-cart-indicator {
          top: calc(-24px + 8px) // + distance from top;
        }
        img {
          top: -24px;
        }
        strong, p {
          color: black;
        }
        .product-item-likes .mat-icon {
          color: black;
        }
        .product-price ::ng-deep .mat-icon svg path {
          fill: black;
        }
        button {
          bottom: -8px;
          opacity: 1;
          visibility: visible;
        }
        &:before {
          height: 230px;
        }
      }
    }
  }
}


.lets-talk-about-your-ai-section {
  margin-top: 6rem;
  // cut off image
  overflow: hidden;
  height: 700px;
  width: 100%;

  .robot-hands {
    position: absolute;
    right: -350px;
    width: 2000px;
    height: 1200px;
  }

  .text {
    @extend .robot-hands;
    height: auto;
    right: -234px;
    font-size: 28px;
    text-align: center;
    top: 160px;
    font-family: $space-font;
    transform: skewY(2deg);

    &.animate .typewriter-wrapper {
      span:nth-child(1) { animation: blink .5s step-end infinite alternate, type 1s steps(40, end) 1s forwards; }
      span:nth-child(2) { animation: shring-animation 0.5s steps(40, end) 2s forwards, blink .5s step-end infinite alternate; }
    }

    .typewriter-wrapper {
      position: relative;

      span {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
      }

      span:nth-child(1) {
        margin: 0 0 0 35%;
        border-right: 1px solid white;
        width: 0;
        left: 148px;
      }

      span:nth-child(2) {
        margin: 0 0 0 46%;
        width: 140px;
        opacity: 0;
      }

      @keyframes type {
        0% { width: 0; }
        1%, 99% { border-right: 1px solid white; }
        100%{ border-right: none; width: 302px; }
      }

      @keyframes blink {
        50% { border-color: transparent; }
      }


      @keyframes shring-animation {
        0% {
          background-position: 0 0;
          opacity: 0;
          width: 0;
        }
        1% {
          background-position: 0 0;
          opacity: 1;
          border-right: 1px solid white;
        }
        50% {
          background-position: 150px 0;
          opacity: 1;
          border-right: 1px solid white;
        }
        100% {
          background-position: 400px 0;
          opacity: 1;
          border-right: 1px solid white;
        }
      }

    }

    .mat-icon {
      width: 35px;
      height: 40px;
      position: relative;
      right: 10px;

      &[svgIcon="instagram"] { top: -2px; }
      &[svgIcon="email"] { transform: scale(1.5); }
    }

  }

}

/* MEDIA QUERIES */
// smaller than 1400px
@media only screen and (max-width: 1400px) {
  .lets-talk-about-your-ai-section {
    .robot-hands {
      transform: scale(0.9);
      right: -540px;
    }
    .text {
      right: -436px;
      top: 200px;
      transform: scale(0.9) skewY(2deg);
    }
  }
}
// smaller than 1200px
@media only screen and (max-width: 1200px) {
  .top-section {
    .landing-image {
      margin-left: 5rem;
      width: 475px;
    }
  }

  .lets-talk-about-your-ai-section {
    .robot-hands { right: -600px; }
    .text { right: -496px; }
  }

}
// smaller than 992px
@media only screen and (max-width: 992px) {
  .top-section {
    .landing-text-wrapper {
      h1 { font-size: 65px; line-height: 65px; }
      p { margin-top: 1rem; font-size: 16px; }
    }

    .landing-image {
      margin-left: 0;
      width: 450px;
      top: 20px;
    }
  }

  .table-of-contents-section {

    #HowItWorks { margin-top: 10rem; }

    #WhyUs {
      .questionmark-wrapper { display: none; }
      .row.top-spacing { margin-top: 0; }
      .why-us-item::after { border-width: 3px !important; }
    }


    #MostPopular {
      height: auto;
      padding-top: 2rem;
      .most-popular-title { font-size: 24px; }
      .more-images-link { max-width: 300px; margin: auto; }
    }

  }

  .lets-talk-about-your-ai-section {
    margin-top: 0;
    .robot-hands {
      transform: scale(0.8);
      right: -545px;
      width: 1800px;
      height: 1200px;
    }
    .text {
      right: -560px;
      top: 80px;
      transform: scale(0.7) skewY(2deg);
      width: 2000px;
    }
  }
}
// smaller than 768px
@media only screen and (max-width: 768px) {
  .top-section {
    // NOTE: change variable value on screen resize (100vh -> 100svh)
    // height: calc(100svh - $header-height-md - 50px);
    height: 100svh;

    .landing-text-wrapper {
      text-align: left;
      padding: 1rem;
      h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        span { display: inline !important; }
      }
      p {
        font-size: 0.875rem;
        text-align: center;
        line-height: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
    }

    .landing-image {
      position: relative;
      width: 250px;
      display: block;
      margin: auto;
    }

    .cta-button.large-screen { display: none; }
    .cta-button.small-screen {
      display: block;
      left: 0;
      top: -24px;
    }

  }

  .table-of-contents-section {

    #MostPopular {
      .product-item img { max-width: 325px; }
      // copy of hover
      .product-item.highlighted {
        .in-cart-indicator {
          top: calc(-24px + 8px) // + distance from top;
        }
        img {
          top: -24px;
        }
        strong, p {
          color: black;
        }
        .product-item-likes .mat-icon {
          color: black;
        }
        .product-price ::ng-deep .mat-icon svg path {
          fill: black;
        }
        button {
          bottom: -8px;
          opacity: 1;
          visibility: visible;
        }
        &:before {
          height: 240px;
        }
      }
    }

  }

  .lets-talk-about-your-ai-section {
    .robot-hands { right: -630px; }
    .text { right: -645px; }
  }
}
// smaller than 576px
@media only screen and (max-width: 576px) {

  .table-of-contents-section {

    #Introduction {
      .about-us-items {
        &-title {
          font-size: 22px;
          margin-bottom: 0.5rem;
        }
        &-text { font-size: 14px; }
      }
    }

    #HowItWorks { margin-top: 6rem; }

  }

  .lets-talk-about-your-ai-section {
    .robot-hands { right: -740px; }
    .text { right: -752px; }
  }

}
// smaller than 430px
@media only screen and (max-width: 430px) {
  .lets-talk-about-your-ai-section {
    .robot-hands {
      transform: scale(0.7);
      right: -800px;
     }
    .text {
      transform: scale(0.63) skewY(2deg);
      right: -827px;
      top: 75px;
    }
  }
}
