@import '../../styles/variables';

section .section-header {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.5em;
}

.top-section-wrapper {
  // TODO: choose one
  background-color: $light-orange-bg-color;
  background-color: $main-dark-bg-color;
  // background-color: $main-orange-bg-color;

  // TODO: landing section always span full height on load
  // messes responsive
  // added viewport-height css class, change to this later
  height: $viewport-height-without-header;
  padding-bottom: 4rem;

  .container-fluid {
    position: relative;
    height: 100%;
    color: black;
    padding: 1rem 0;

    // TODO: remove later
    border: 0;

    .image-section {
      height: 100%;
      z-index: 3;
      // TODO: image flash on refresh, set min height but that causes responsive problem
      // TODO: also causes intersection observer to fire earlier
      img { height: 100%; }
    }

    .text-section {
      z-index: 2;
      padding: 1rem 1rem 0 2rem;

      .btn-reverse {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 16px;
      }
      .btn-reverse > .mat-icon {
          width: 9px;
          height: 9px;
          border-right: 2px solid white;
          border-bottom: 2px solid white;
          transform: rotate(-45deg);
          margin: 0 0.5rem;
          transition: all .3s ease;
      }
      .btn-reverse > .mat-icon::before {
          display: block;
          background-color: white;
          width: 10px;
          transform-origin: bottom right;
          height: 2px;
          position: absolute;
          opacity: 0;
          bottom: -1px;
          transform: rotate(45deg);
          transition: all .3s ease;
          content: "";
          right: 0;
      }
      .btn-reverse:hover {
        background-color: $main-dark-bg-color;
        color: white;
      }
      .btn-reverse:hover > .mat-icon {
          transform: rotate(-45deg) translate(4px, 4px);
          // TODO: remove later
          // border-color: black;
      }
      .btn-reverse:hover > .mat-icon::before {
          opacity: 1;
          width: 20px;
      }
    }

    .square {
      position: absolute;
      width: 80%;
      right: 0;
      z-index: 1;
    }
  }
}

.categories-section-wrapper {
  position: relative;
  top: 40px;

  // TODO: remove later
  border: 1px solid $main-orange-bg-color !important;
  border-left: 0 !important;
  border-right: 0 !important;

  .categories-heading-wrapper {
    color: black;
    width: 250px;
    text-align: center;
    height: 40px;
    top: -20px;

    background-color: $main-dark-bg-color !important;
    color: white;
  }

  .categories-content {
    width: 80%;
    justify-content: space-between;
  }
}

.about-us-section-wrapper {
  color: white;

  // TODO: overflows on small screen, but because of below padding
  hr { width: 300px; }

  .about-us-top-section {
    // TODO: not good for responsive
    padding: 1.125rem 6rem;

    .about-us-section-header {
      font-size: 45px;
      font-weight: 600;
      line-height: 1.5em;
    }

    .about-us-mission {
      span { display: block; }
      .mat-icon {
        width: 24px;
        height: 26px;
        position: relative;
        right: 2px;
        & ~ .fw-bold { margin-top: -0.2rem; }
      }
    }
  }

  .about-us-qoute-section {
    padding: 2rem 6rem 2rem 6rem;
    border: 1px solid $main-orange-bg-color;
    box-shadow: $main-orange-bg-color 0px 16px 0px -6px;
    margin-bottom: 40px;
    position: relative;

    .mat-icon {
      top: -20px;
      width: 60px;
      height: 40px;
      background-color: $main-dark-bg-color;
      border-radius: 8px;
    }
    p {
      font-size: 24px;
      line-height: 1.6em;
      font-weight: 100;
    }
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    & :last-child {
      position: relative;
      top: -4px;
    }
  }
}

.about-us-section-wrapper-new {
  display: flex;
  flex-direction: column;
  text-align: center;

  .about-us { max-width: 960px; }

  .about-us-mission {
    margin-top: 5rem;

    .mission-item {
      padding: 45px 20px;
      background-color: $main-orange-bg-color;
      box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      //NOTE: Avoid setting ViewEncapsulation.None just for this one property
      &::ng-deep mat-icon svg path { fill: $main-dark-bg-color; }

      mat-icon {
        height: 50px;
        transform: scale(2);
        margin: auto;
        font-size: 50px;
        display: flex;
        margin-bottom: 12px;
      }
    }

    .mission-item:hover {
      box-shadow: 0 0px 2px rgba($main-orange-bg-color, 1);
      transition: 0.5s;
    }
  }

}

.how-it-works-section {
  margin-top: 3rem;
  background: linear-gradient(rgba(255,255,255, 0.1), rgba(255,255,255, 0)), url('../../../assets/images/img/mountain.jpg');
  // background-image: url('../../../assets/images/img/mountain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .container-fluid { max-width: 1000px; }

  ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
    list-style: none;
    counter-reset: stepnr;

    .col-circle {
      display: flex;
      justify-content: center;
    }

    .col-text {
      display: flex;
      align-items: center;
      justify-content: center;

      .inner-wrapper {
        background-color: $main-orange-bg-color;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        text-align: center;
        max-width: 275px;
        max-height: 144px;
      }
    }
  }
  
  ol li {
    counter-increment: stepnr;
    width: 15rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.5rem;
    position: relative;
    background-color: $main-dark-bg-color;
    border-radius: 50%;

    .cover-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      border-radius: 50%;
      overflow: hidden;
      z-index: 2;

      .cover { 
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: $main-dark-bg-color;
        // border-bottom: 1px solid white; 
        filter: drop-shadow(-0.25rem 0.25rem 0.675rem rgba(0, 0, 0, 1)) blur(0px);
        filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 1)) blur(0px);

      }
      
    }

    & * { z-index: 1; }
    
    &::before,
    &::after {
      inset: 0;
      position: absolute;
      border-radius: 50%;
      border: 25px solid $main-dark-bg-color;
      line-height: 1.1;
    }

    &::before {
      content: counter(stepnr);
      color: $main-orange-bg-color;
      padding-top: 0.5rem;
      padding-left: 8.5rem;
      font-size: 9rem;
      font-weight: 700;
      overflow: hidden;
      filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 1)) blur(0px);
      // TODO: check this (remove rings and number), also comment out drop shadow below
      // display: none;
    }

    &::after {
      z-index: 2;
      content: "";
      // TODO: choose one
      // without blur
      filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 1)) blur(0px);
      // with blur
      // filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 1)) blur(5px);
      // with orange
      // filter: drop-shadow(-0.25rem 0.25rem 0.0675rem $main-orange-bg-color) blur(0px);
    }

    &:nth-child(4)::before { padding-left: 8.25rem; padding-top: 0; }

  }
  
  ol li > * { width: 7.5rem; }
  ol li .icon { 
    text-align: center; 
    transform: scale(1.5); 
    position: relative; 
    left: -12px; 
    top: 5px;
  }
  ol li .title { font-size: 2rem; font-weight: 500; }
  ol li .descr { font-size: 0.8rem; font-weight: 300; height: 15%; }

}

.big-img-wrapper {
  margin-top: 3rem;
  // border: 1px solid;
  height: 600px;
  background-color: $main-orange-bg-color;
  // TODO: change for prod
  // background-image: url('../../../assets/images/img/mountain.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
  // background-size: 7000px;
}

/* MEDIA QUERIES */
// bigger than 1440px
@media only screen and (min-width: 1440px) {
  // center vh area vertically on large screens
  .about-us-section-wrapper-new { justify-content: center; }
}
@media only screen and (max-width: 976px) {
  .about-us-top-section {
    flex-direction: column;
    .w-60, .w-40 { width: 100% !important; }
    .about-us-section-header,
    .about-us-mission { text-align: center; }
    hr { margin: auto; }
  }
  .about-us-section-wrapper .about-us-qoute-section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .about-us-section-wrapper-new {
    text-align: justify;
  }
}
// smaller than 576px
@media only screen and (max-width: 576px) {
  .about-us-section-wrapper .about-us-qoute-section {
    padding-left: 1rem;
    padding-right: 1rem;
    img { width: 48px; height: 48px; }
  }
}
