
<section class="top-section">
  <div class="container-fluid px-6 h-100">
    <div class="row position-relative h-100">
      <div class="col-md-5 col-sm-12 d-flex justify-content-md-end justify-content-center align-items-center">
        <div class="landing-text-wrapper">
          <h1 class="glow-text">
            <span
              class="d-block"
              appear
              [hide]="{'opacity': 0, 'transform': 'translateY(-20px)'}"
              [show]="{'opacity': 1, 'transform': 'translateY(0px)'}"
              [duration]="300"
              [delay]="isFirstVisit ? 900 : 300"
            >
              Best
            </span>
            <span
              class="d-block"
              appear
              [hide]="{'opacity': 0, 'transform': 'translateX(-20px)'}"
              [show]="{'opacity': 1, 'transform': 'translateX(0px)'}"
              [duration]="300"
              [delay]="isFirstVisit ? 1200 : 600"
            >
              AI
            </span>
            <span
              class="d-block"
              appear
              [hide]="{'opacity': 0, 'transform': 'translateY(20px)'}"
              [show]="{'opacity': 1, 'transform': 'translateY(0px)'}"
              [duration]="300"
              [delay]="isFirstVisit ? 1500 : 900"
            >images</span>
          </h1>
          <div
            class="d-flex flex-column"
            appear
            [duration]="500"
            [delay]="isFirstVisit ? 1800 : 1200"
            (intersection)="hightlightCTA(cta)"
          >
            <p>Welcome to the future</p>
            <a class="btn large-screen" routerLink="/products" #cta>
              <div class="inner-wrapper">Explore now</div>
              <mat-icon svgIcon="double-arrow-right"></mat-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 d-flex align-items-md-start align-items-center">
        <!-- NOTE: directive hides flick (cls) -->
        <img
          src="../../../assets/images/landing-image.png"
          alt="landing image"
          class="img-fluid pe-none landing-image"
          appear
          [hide]="{'opacity': 0, 'transform': 'scale(1.1)' }"
          [show]="{'opacity': 1, 'transform': 'scale(1)'   }"
          [duration]="1000"
          [easing]="'ease-in-out'"
          [delay]="isFirstVisit ? 700 : 100"
        >
        <!-- <a class="btn-reverse small-screen" routerLink="/products">
          <div class="animation-filler"></div>
          <p class="m-0">Our dogs</p>
          <mat-icon>arrow_forward</mat-icon>
        </a> -->
      </div>
    </div>
  </div>
</section>

<section class="table-of-contents-section" scrollSpy (sectionChange)="activeSection = $event">
  <div class="container-fluid px-md-0 px-lg-5">
    <div class="row justify-content-center">
      <div class="col-md-2 d-none d-lg-block">
        <div class="table-of-contents-wrapper">
          <div class="list-group" #toc>
            <a class="list-group-item" [ngClass]="{'active': activeSection === 'Introduction'}" href="#Introduction"
               pageScroll [pageScrollOffset]="50" [pageScrollAdjustHash]="true" [pageScrollDuration]="1000" [pageScrollEasing]="sectionScrollEasing"
            >Introduction</a>
            <a class="list-group-item" [ngClass]="{'active': activeSection === 'HowItWorks'}" href="#HowItWorks"
               pageScroll [pageScrollOffset]="120" [pageScrollAdjustHash]="true" [pageScrollDuration]="1000" [pageScrollEasing]="sectionScrollEasing"
            >How it works?</a>
            <a class="list-group-item" [ngClass]="{'active': activeSection === 'WhyUs'}" href="#WhyUs"
               pageScroll [pageScrollOffset]="120" [pageScrollAdjustHash]="true" [pageScrollDuration]="1000" [pageScrollEasing]="sectionScrollEasing"
            >Why us?</a>
            <a class="list-group-item" [ngClass]="{'active': activeSection === 'MostPopular'}" href="#MostPopular"
              pageScroll [pageScrollOffset]="120" [pageScrollAdjustHash]="true" [pageScrollDuration]="1000" [pageScrollEasing]="sectionScrollEasing"
            >Most popular</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 ps-md-5">
        <section id="Introduction">
          <div class="container px-4">
            <h2>What is <br> EverydayAI</h2>
            <div class="about-us-items row gx-4">
              <div class="col-lg-4 col-md-6 mb-5 mb-lg-0"
                appear [hide]="{'opacity': 0, 'transform': 'translateX(-50px)'}" [show]="{'opacity': 1, 'transform': 'none'}"
              >
                <app-gradient-container>
                  <mat-icon svgIcon="dog-head" class="dog-head"></mat-icon>
                  <p class="about-us-items-title">AI as art</p>
                  <p class="mb-0">Embrace the future while witnessing the evolution of AI generated art.</p>
                </app-gradient-container>
              </div>
              <div class="col-lg-4 col-md-6 mb-5 mb-lg-0"
                appear [hide]="{'opacity': 0, 'transform': 'translateY(20px)'}" [show]="{'opacity': 1, 'transform': 'translateY(0px)'}" [threshold]="1"
              >
                <app-gradient-container>
                  <mat-icon svgIcon="networking" class="networking"></mat-icon>
                  <p class="about-us-items-title">Join the pack</p>
                  <p class="mb-0">
                    Whether you're an artist seeking inspiration, a dog enthusiast looking for captivating visuals,
                    or simply someone intrigued by the possibilities of AI.
                  </p>
                </app-gradient-container>
              </div>
              <div class="col-lg-4 col-md-6 mx-auto mb-5 mb-md-0"
                appear [hide]="{'opacity': 0, 'transform': 'translateX(50px)'}" [show]="{'opacity': 1, 'transform': 'none'}"
              >
                <app-gradient-container>
                  <mat-icon svgIcon="dog-enthusiast" class="expectance"></mat-icon>
                  <p class="about-us-items-title">The expectance</p>
                  <p class="mb-0">Look how they are looking at you.</p>
                </app-gradient-container>
              </div>
            </div>
          </div>
        </section>

        <section id="HowItWorks">
          <div class="container">
            <h2>How it works?</h2>
            <ol class="step-list">
              <li class="step-list__item">
                <div class="step-list__item__inner">
                  <div class="content">
                    <div class="body">
                      <p class="step-item-title">Explore</p>
                      <p>Take a look around and find perfect image that fits your needs.</p>
                    </div>
                    <div class="icon-wrapper">
                      <div class="icon-shadow" appear [threshold]="1" [duration]="1200"></div>
                      <mat-icon>search</mat-icon>
                    </div>
                  </div>
                </div>
              </li>
              <li class="step-list__item">
                <div class="step-list__item__inner">
                  <div class="content">
                    <div class="body">
                      <p class="step-item-title">Order</p>
                      <p>Finalize your decision.</p>
                    </div>
                    <div class="icon-wrapper">
                      <div class="icon-shadow" appear [threshold]="1" [duration]="1200"></div>
                      <mat-icon svgIcon="payment" [ngStyle]="{'height': '25px'}"></mat-icon>
                    </div>
                  </div>
                </div>
              </li>
              <li class="step-list__item">
                <div class="step-list__item__inner">
                  <div class="content">
                    <div class="body">
                      <p class="step-item-title">Enjoy</p>
                      <p>
                        Use image as wallpaper or any device, for your projects or even print it and hang it on your wall!
                        Everything you buy stays with you forever.
                      </p>
                    </div>
                    <div class="icon-wrapper">
                      <div class="icon-shadow" appear [threshold]="1" [duration]="1200"></div>
                      <mat-icon>important_devices</mat-icon>
                    </div>
                  </div>
                </div>
              </li>
              <li class="step-list__item">
                <div class="step-list__item__inner">
                  <div class="content">
                    <div class="body">
                      <p class="step-item-title">Follow us on <span class="glow-text">instagram</span></p>
                      <p>Stay up to date with our latest news and events.</p>
                    </div>
                    <div class="icon-wrapper">
                      <div class="icon-shadow" appear [threshold]="1" [duration]="1200"></div>
                      <mat-icon>favorite_border</mat-icon>
                    </div>
                  </div>
                </div>
              </li>
              <li class="step-list__item">
                <div class="step-list__item__inner">
                  <div class="content">
                    <div class="body">
                      <p class="step-item-title">To eternity and beyond</p>
                      <p>To be continued...</p>
                    </div>
                    <div class="icon-wrapper">
                      <div class="icon-shadow" appear [threshold]="1" [duration]="1200"></div>
                      <mat-icon>all_inclusive</mat-icon>
                    </div>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </section>

        <section id="WhyUs">
          <div class="container">
            <!-- TODO: decide -->
            <!-- <h2>Why us?</h2> -->
            <h2>4 Why's</h2>
            <div class="questionmark-wrapper" #questionmark>
              <span>?</span>
            </div>
            <div class="row justify-content-between">
              <div class="col-xl-5 col-lg-6">
                <div class="why-us-item bottom-right-border"
                  appear [hide]="{'opacity': 0, 'transform': 'translate(100px, 100px)'}" [show]="{'opacity': 1, 'transform': 'none'}" [duration]="2000" easing="ease"
                >
                  <!-- TODO: decide -->
                  <!-- <p class="why-us-item-header">Innovative technology</p> -->
                  <p class="why-us-item-header">Technology meet-up</p>
                  <p>
                    In the dawn of the digital age, the technology erupts quickly.
                    Through us, you will meet most amazing and useful tools provided by world of AI.
                  </p>
                </div>
              </div>
              <div class="col-xl-5 col-lg-6">
                <div class="why-us-item bottom-left-border"
                  appear [hide]="{'opacity': 0, 'transform': 'translate(-100px, 100px)'}" [show]="{'opacity': 1, 'transform': 'none'}" [duration]="2000" easing="ease"
                >
                  <p class="why-us-item-header">Value oriented</p>
                  <p>
                    Seize the opportunity to connect, learn, and contribute to a community that
                    values not only the technology but also the profound impact it can have on our world.
                  </p>
                </div>
              </div>
            </div>
            <div class="row justify-content-between top-spacing">
              <div class="col-xl-5 col-lg-6">
                <div class="why-us-item top-right-border"
                  appear [hide]="{'opacity': 0, 'transform': 'translate(100px, -100px)'}" [show]="{'opacity': 1, 'transform': 'none'}" [duration]="2000" easing="ease"
                >
                  <p class="why-us-item-header">Future proof</p>
                  <p>
                    AI is here to stay. Not only that, it shall evolve into something even bigger.
                    Let's give a shape to the upcoming future together.
                    <!-- Let's pave a way for next revolutionary advancements. Let's shape a future together. -->
                  </p>
                </div>
              </div>
              <div class="col-xl-5 col-lg-6">
                <div class="why-us-item top-left-border"
                  appear [hide]="{'opacity': 0, 'transform': 'translate(-100px, -100px)'}" [show]="{'opacity': 1, 'transform': 'none'}" [duration]="2000" easing="ease"
                >
                  <p class="why-us-item-header">Purpose driven</p>
                  <p>
                    A commitment to infuse intentionality into every innovation, ensuring that technology serves not only as a tool
                    but as a catalyst for positive change.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="MostPopular">
          <div class="container">
            <div class="row">

              <div class="col-md-12 col-lg-3 mb-5 mb-lg-0" appear>
                <!-- <p class="most-popular-title mb-4">Crafted with excellent material, the AI material.</p>
                <p class="mb-4">The people's choice. Most liked images by others.</p> -->
                <p class="most-popular-title mb-4 text-center">The people's choice. What others like.</p>
                <p class="mb-4 text-center">Crafted with excellent material, the AI material.</p>
                <!-- TODO: update/remove button -->
                <p><a href="shop.html" class="btn">Explore</a></p>
              </div>

              <mat-spinner
                *ngIf="!ourPicksLoaded; else ourPicks"
                class="p-0 mx-auto align-self-center"
                diameter="48"
                strokeWidth="6"
              ></mat-spinner>

              <ng-template #ourPicks>

                <div *ngIf="ourPicksError" class="text-center align-self-center" [ngStyle]="{ flex: 1, height: '48px' }">
                  Failed to load. Please refresh the page.
                </div>

                <ng-container *ngIf="!ourPicksError">

                  <div
                    *ngFor="let product of ourPicksProducts; let i = index"
                    class="col-12 col-md-4 col-lg-3 my-5 my-md-0 d-flex justify-content-center align-items-end"
                    appear
                    [hide]="{'opacity': 0, 'transform': 'translateY(-40px)'}"
                    [show]="{'opacity': 1, 'transform': 'translateY(0px)'}"
                    [threshold]="0.8"
                    (intersection)="hightlightProduct(productItem, i * 100)"
                  >
                    <a #productItem class="product-item text-reset text-decoration-none" [routerLink]="'/products/' + product.id" target="_blank">
                      <div class="position-relative mx-auto fit-content">
                        <mat-icon *ngIf="product.isInCart && product.price !== 0 && !user?.ownedItems?.includes(product.id)" class="if-in-cart-icon">shopping_cart</mat-icon>
                        <img src="{{ product.watermarkImgPath }}" (error)="handleProductImgLoadError($event)" class="img-fluid">
                      </div>
                      <p class="product-item-title">{{ product.title }}</p>
                      <div class="product-item-likes flex-center gap-1">
                        <mat-icon>favorite</mat-icon>
                        <strong>{{ product.likes | format }}</strong>
                      </div>
                      <strong class="product-price">
                        <span *ngIf="user?.ownedItems?.includes(product.id); else price">Owned</span>
                        <ng-template #price>
                          <div *ngIf="product.discount > 0">
                            <div *ngIf="product.discount < 100" class="d-flex justify-content-center">
                              <span class="product-old-price reposition flex-center gap-1">
                                {{ product.price | number : '1.2-2' }} <mat-icon svgIcon="dollar"></mat-icon>
                              </span>
                              <span class="product-discounted-price reposition flex-center gap-1">
                                {{ utilService.getProductPrice(product) }} <mat-icon svgIcon="dollar"></mat-icon>
                              </span>
                            </div>
                            <div *ngIf="product.discount === 100" class="d-flex justify-content-center">
                              <span class="product-old-price flex-center gap-1">
                                {{ product.price | number : '1.2-2' }} <mat-icon svgIcon="dollar"></mat-icon>
                              </span>
                              <span>Free</span>
                            </div>
                          </div>
                          <div *ngIf="product.discount === 0">
                            <span *ngIf="product.price !== 0" class="flex-center gap-1 reposition">
                              {{ product.price | number : '1.2-2' }} <mat-icon svgIcon="dollar"></mat-icon>
                            </span>
                            <span *ngIf="product.price === 0">Free</span>
                          </div>
                        </ng-template>
                      </strong>
                      <button (click)="$event.preventDefault()">
                        <mat-spinner diameter="22" class="reverse mx-auto" *ngIf="product.spinners['cart']; else action"></mat-spinner>
                        <ng-template #action>
                          <!-- TODO: site lags on download -->
                          <mat-icon class="download"
                            *ngIf="product.price === 0 || product.discount === 100 || user?.ownedItems?.includes(product.id); else action"
                            (click)="productService.download(product)"
                          >download</mat-icon>
                          <ng-template #action>
                            <mat-icon svgIcon="cart-add" class="cart-action" *ngIf="!product.isInCart" (click)="productService.addToCart(product)"></mat-icon>
                            <mat-icon svgIcon="cart-remove" class="cart-action" *ngIf="product.isInCart" (click)="productService.removeFromCart(product)"></mat-icon>
                          </ng-template>
                        </ng-template>
                      </button>
                    </a>
                  </div>
                </ng-container>

              </ng-template>

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="lets-talk-about-your-ai-section">
  <div class="container-fluid position-relative p-0">
    <div class="row wrapper flex-wrap justify-content-sm-around">
      <div class="col-img">
        <!-- TODO: alt -->
        <img src="../../../assets/images/contact-us-image.png" alt="" loading="lazy">
      </div>
      <div class="col-text" appear [hide]="{'opacity': 0, 'transform': 'scale(1.2)'}" [show]="{'opacity': 1, 'transform': 'scale(1)'}" [duration]="1000" [delay]="0.2" easing="ease-in-out">
        <p>Lets talk about your ai</p>
        <div class="d-flex align-items-center gap-3">
          <mat-icon svgIcon="instagram"></mat-icon>
          <a href="mailto: everyday-ai.online@gmail.com" class="text-reset text-decoration-none">
            <mat-icon svgIcon="email"></mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
