
<div
  [id]="id"
  class="modal"
  tabIndex="-1"
  role="dialog"
  aria-hidden="true"
  [ngStyle]="{ 'display': isOpen ? 'block' : 'none' }"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" *ngIf="id === 'product_details'">{{ title }}</h1>
        <p class="modal-title" *ngIf="id !== 'product_details'">{{ title }}</p>
        <mat-icon (click)="closeModal()">close_icon</mat-icon>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer" *ngIf="!hideFooter">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="handleConfirm()">
          <mat-spinner *ngIf="showActionSpinner; else action" diameter="25" strokeWidth="4" class="reverse"></mat-spinner>
          <ng-template #action>{{ actionButtonText }}</ng-template>
        </button>
      </div>
    </div>
  </div>
</div>
