@import '../../styles/variables.scss';

.modal-backdrop {
  opacity: 0.5;
  z-index: 999999 // 6
}

.modal {
  color: white;
  display: none;
  z-index: 999999; // 6

  .modal-header {
    .modal-title { font-size: 22px; }
    .mat-icon { cursor: pointer ;}
  }

  form .form-group .form-style { padding-left: 1rem; }
}

// TODO: ng deep and turn off view encapsulation?
body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;

  // prevent modal from closing on click outside
  // .modal { pointer-events: none; }
}
