doctype html
html(lang="en")
  include partials/head.pug

  body
    include partials/stars.pug
      include partials/header.pug

      include partials/gradient-container.pug
        p(class="large-text") Hello, #{user}!
        p(class="small-text mx-auto") You recently requested to reset password for your account.
        p(class="small-text mx-auto") Click button below and follow instructions to complete password reset process.

        a(href=action_url class="button" style="width: 175px") Reset password

        p(class="small-text mx-auto") If this wasn't you, please ignore this email.

      include partials/footer.pug
